openapi: 3.0.0
info:
  title: Square
  description: Use Square APIs to manage and run business including payment, customer,
    product, inventory, and employee management.
  termsOfService: https://connect.squareup.com/tos
  contact:
    name: Square Developer Platform
    url: https://squareup.com/developers
    email: developers@squareup.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: "2.0"
  x-server-configuration:
    default-environment: production
    default-server: default
    environments:
    - name: production
      servers:
      - name: default
        url: https://connect.squareup.com
    - name: sandbox
      servers:
      - name: default
        url: https://connect.squareupsandbox.com
  x-square-generic-error-codes:
  - ACCESS_TOKEN_EXPIRED
  - ACCESS_TOKEN_REVOKED
  - API_VERSION_INCOMPATIBLE
  - APPLICATION_DISABLED
  - ARRAY_EMPTY
  - ARRAY_LENGTH_TOO_LONG
  - ARRAY_LENGTH_TOO_SHORT
  - BAD_CERTIFICATE
  - BAD_GATEWAY
  - BAD_REQUEST
  - CONFLICT
  - CONFLICTING_PARAMETERS
  - CURRENCY_MISMATCH
  - EXPECTED_ARRAY
  - EXPECTED_BASE64_ENCODED_BYTE_ARRAY
  - EXPECTED_BOOLEAN
  - EXPECTED_FLOAT
  - EXPECTED_INTEGER
  - EXPECTED_JSON_BODY
  - EXPECTED_MAP
  - EXPECTED_OBJECT
  - EXPECTED_STRING
  - FORBIDDEN
  - GATEWAY_TIMEOUT
  - GONE
  - IDEMPOTENCY_KEY_REUSED
  - INCORRECT_TYPE
  - INSUFFICIENT_SCOPES
  - INTERNAL_SERVER_ERROR
  - INVALID_ARRAY_VALUE
  - INVALID_CONTENT_TYPE
  - INVALID_CURSOR
  - INVALID_ENUM_VALUE
  - INVALID_FORM_VALUE
  - INVALID_SORT_ORDER
  - INVALID_SQUARE_VERSION_FORMAT
  - INVALID_TIME
  - INVALID_TIME_RANGE
  - INVALID_VALUE
  - LOCATION_MISMATCH
  - MAP_KEY_LENGTH_TOO_LONG
  - MAP_KEY_LENGTH_TOO_SHORT
  - METHOD_NOT_ALLOWED
  - MISSING_REQUIRED_PARAMETER
  - NOT_ACCEPTABLE
  - NOT_FOUND
  - NOT_IMPLEMENTED
  - NO_FIELDS_SET
  - RATE_LIMITED
  - REQUEST_ENTITY_TOO_LARGE
  - REQUEST_TIMEOUT
  - SANDBOX_NOT_SUPPORTED
  - SERVICE_UNAVAILABLE
  - TOO_MANY_MAP_ENTRIES
  - UNAUTHORIZED
  - UNEXPECTED_VALUE
  - UNKNOWN_QUERY_PARAMETER
  - UNPROCESSABLE_ENTITY
  - UNSUPPORTED_MEDIA_TYPE
  - V1_ACCESS_TOKEN
  - V1_APPLICATION
  - VALUE_EMPTY
  - VALUE_REGEX_MISMATCH
  - VALUE_TOO_HIGH
  - VALUE_TOO_LONG
  - VALUE_TOO_LOW
  - VALUE_TOO_SHORT
servers:
- url: https://connect.squareup.com
paths:
  /mobile/authorization-code:
    post:
      tags:
      - MobileAuthorization
      summary: CreateMobileAuthorizationCode
      description: |-
        Generates code to authorize a mobile application to connect to a Square card reader

        Authorization codes are one-time-use and expire __60 minutes__ after being issued.

        __Important:__ The `Authorization` header you provide to this endpoint must have the following format:

        ```
        Authorization: Bearer ACCESS_TOKEN
        ```

        Replace `ACCESS_TOKEN` with a
        [valid production authorization credential](https://developer.squareup.com/docs/docs/build-basics/access-tokens).
      operationId: CreateMobileAuthorizationCode
      parameters: []
      requestBody:
        description: |-
          An object containing the fields to POST for the request.

          See the corresponding object definition for field details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMobileAuthorizationCodeRequest'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateMobileAuthorizationCodeResponse'
      security:
      - oauth2:
        - PAYMENTS_WRITE_IN_PERSON
      x-release-status: PUBLIC
  /oauth2/authorize:
    get:
      tags:
      - OAuth
      summary: Authorize
      description: |-
        Presents a Permission Request form that returns an access
        code to be exchanged during the OAuth flow for a valid OAuth access token.
        To send users to the Permission Request form and start the OAuth flow,
        configure a link with the desired permissions that directs users to the
        OAuth Authorization endpoint. See the
        [OAuth Build Guide](https://developer.squareup.com/docs/oauth-api/build-with-oauth) for more information.

        In the event of an error, Authorize returns an error response
        (`error` and `error_description`). If the failure is a result of the user
        denying the request, the value is `access_denied` with a description of
        `user_denied`.
      operationId: Authorize
      parameters:
      - name: client_id
        in: query
        description: The Square-issued ID of the application requesting permissions.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: scope
        in: query
        description: |-
          __OPTIONAL__

          A space-separated list of the permissions the application is requesting.
          Default: "`MERCHANT_PROFILE_READ PAYMENTS_READ SETTLEMENTS_READ BANK_ACCOUNTS_READ`"
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/OAuthPermission'
      - name: locale
        in: query
        description: |-
          __OPTIONAL__

          The locale to present the permission request form in. Square detects the
          appropriate locale automatically. Only provide this value if the application
          can definitively determine the preferred locale.

          Currently supported values: `en-US`, `en-CA`, `es-US`, `fr-CA`, `ja-JP`.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: session
        in: query
        description: |-
          If `false`, the user must log in to their Square account to
          view the Permission Request form, even if they already have a valid user
          session.
          Default: `true`
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: false
      - name: state
        in: query
        description: |-
          __OPTIONAL__

          When provided, `state` is passed along to the configured Redirect URL after
          the Permission Request form is submitted. You can include state and verify
          its value to help protect against cross-site request forgery.
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizeResponse'
      security: []
      x-release-status: PUBLIC
      x-visibility: DOC_ONLY
  /oauth2/clients/{client_id}/access-token/renew:
    post:
      tags:
      - OAuth
      summary: RenewToken
      description: |-
        `RenewToken` is deprecated. For information about refreshing OAuth access tokens, see
        [Renew OAuth Token](https://developer.squareup.com/docs/oauth-api/cookbook/renew-oauth-tokens).


        Renews an OAuth access token before it expires.

        OAuth access tokens besides your application's personal access token expire after __30 days__.
        You can also renew expired tokens within __15 days__ of their expiration.
        You cannot renew an access token that has been expired for more than 15 days.
        Instead, the associated user must re-complete the OAuth flow from the beginning.

        __Important:__ The `Authorization` header for this endpoint must have the
        following format:

        ```
        Authorization: Client APPLICATION_SECRET
        ```

        Replace `APPLICATION_SECRET` with the application secret on the Credentials
        page in the [application dashboard](https://connect.squareup.com/apps).
      operationId: RenewToken
      parameters:
      - name: client_id
        in: path
        description: Your application ID, available from the [application dashboard](https://connect.squareup.com/apps).
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: |-
          An object containing the fields to POST for the request.

          See the corresponding object definition for field details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RenewTokenRequest'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RenewTokenResponse'
      deprecated: true
      security:
      - oauth2ClientSecret: []
      x-release-status: DEPRECATED
      x-deprecation: {}
  /oauth2/revoke:
    post:
      tags:
      - OAuth
      summary: RevokeToken
      description: |-
        Revokes an access token generated with the OAuth flow.

        If an account has more than one OAuth access token for your application, this
        endpoint revokes all of them, regardless of which token you specify. When an
        OAuth access token is revoked, all of the active subscriptions associated
        with that OAuth token are canceled immediately.

        __Important:__ The `Authorization` header for this endpoint must have the
        following format:

        ```
        Authorization: Client APPLICATION_SECRET
        ```

        Replace `APPLICATION_SECRET` with the application secret on the Credentials
        page in the [application dashboard](https://connect.squareup.com/apps).
      operationId: RevokeToken
      parameters: []
      requestBody:
        description: |-
          An object containing the fields to POST for the request.

          See the corresponding object definition for field details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RevokeTokenRequest'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevokeTokenResponse'
      security:
      - oauth2ClientSecret: []
      x-release-status: PUBLIC
  /oauth2/token:
    post:
      tags:
      - OAuth
      summary: ObtainToken
      description: |-
        Returns an OAuth access token.

        The endpoint supports distinct methods of obtaining OAuth access tokens.
        Applications specify a method by adding the `grant_type` parameter
        in the request and also provide relevant information.
        For more information, see [OAuth access token management](https://developer.squareup.com/docs/authz/oauth/how-it-works#oauth-access-token-management).

        __Note:__ Regardless of the method application specified,
        the endpoint always returns two items; an OAuth access token and
        a refresh token in the response.

        __OAuth tokens should only live on secure servers. Application clients
        should never interact directly with OAuth tokens__.
      operationId: ObtainToken
      parameters: []
      requestBody:
        description: |-
          An object containing the fields to POST for the request.

          See the corresponding object definition for field details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ObtainTokenRequest'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObtainTokenResponse'
      security: []
      x-release-status: PUBLIC
  /v1/batch:
    post:
      tags:
      - V1Batching
      summary: V1SubmitBatch
      description: |-
        Bundle multiple requests to Connect V1 API endpoints as a single
        request.


        The __V1SubmitBatch__ endpoint does not require an access token
        in the request header. Instead, provide an `access_token` parameter for
        each request included in the batch.

        __V1SubmitBatch__ responds with an array that contains response objects for
        each of the batched requests. There is no guarantee of the order in
        which batched requests are performed.


        __IMPORTANT__

        You cannot include more than 30 requests in a single batch and
        recursive requests to __V1SubmitBatch__ are not allowed. In
        other words, none of the requests included in a batch can itself be a
        request to the __V1SubmitBatch__ endpoint.
      operationId: V1SubmitBatch
      parameters: []
      requestBody:
        description: The set of API actions to perform.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchRequest'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BatchResponse'
                x-content-type: application/json
      deprecated: true
      security: []
      x-release-status: DEPRECATED
      x-deprecation:
        deprecationDate: 2019-11-20
        retirementDate: 2020-11-18
        guideUrl: https://developer.squareup.com/docs/migrate-from-v1/general-guidance#v1batching
      x-visibility: DOC_ONLY
  /v1/me:
    get:
      tags:
      - V1Locations
      summary: RetrieveBusiness
      description: Get the general information for a business.
      operationId: RetrieveBusiness
      parameters: []
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V1Merchant'
      deprecated: true
      security:
      - oauth2:
        - MERCHANT_PROFILE_READ
      x-release-status: DEPRECATED
      x-deprecation:
        deprecationDate: 2019-11-20
        retirementDate: 2020-11-18
        replacedBy: RetrieveLocation
        guideUrl: https://developer.squareup.com/docs/migrate-from-v1/guides/v1-locations
  /v1/me/employees:
    get:
      tags:
      - V1Employees
      summary: ListEmployees
      description: Provides summary information for all of a business's employees.
      operationId: ListEmployees
      parameters:
      - name: order
        in: query
        description: 'The order in which employees are listed in the response, based
          on their created_at field.      Default value: ASC'
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/SortOrder'
      - name: begin_updated_at
        in: query
        description: If filtering results by their updated_at field, the beginning
          of the requested reporting period, in ISO 8601 format
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: end_updated_at
        in: query
        description: If filtering results by there updated_at field, the end of the
          requested reporting period, in ISO 8601 format.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: begin_created_at
        in: query
        description: If filtering results by their created_at field, the beginning
          of the requested reporting period, in ISO 8601 format.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: end_created_at
        in: query
        description: If filtering results by their created_at field, the end of the
          requested reporting period, in ISO 8601 format.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: status
        in: query
        description: If provided, the endpoint returns only employee entities with
          the specified status (ACTIVE or INACTIVE).
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/V1ListEmployeesRequestStatus'
      - name: external_id
        in: query
        description: If provided, the endpoint returns only employee entities with
          the specified external_id.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: The maximum integer number of employee entities to return in
          a single response. Default 100, maximum 200.
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: batch_token
        in: query
        description: |-
          A pagination cursor to retrieve the next set of results for your
          original query to the endpoint.
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/V1Employee'
                x-content-type: application/json
      security:
      - oauth2:
        - EMPLOYEES_READ
      x-release-status: PUBLIC
    post:
      tags:
      - V1Employees
      summary: CreateEmployee
      description: |2-
         Use the CreateEmployee endpoint to add an employee to a Square
        account. Employees created with the Connect API have an initial status
        of `INACTIVE`. Inactive employees cannot sign in to Square Point of Sale
        until they are activated from the Square Dashboard. Employee status
        cannot be changed with the Connect API.

        <aside class="important">
        Employee entities cannot be deleted. To disable employee profiles,
        set the employee's status to <code>INACTIVE</code>
        </aside>
      operationId: CreateEmployee
      parameters: []
      requestBody:
        description: |-
          An object containing the fields to POST for the request.

          See the corresponding object definition for field details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V1Employee'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V1Employee'
      security:
      - oauth2:
        - EMPLOYEES_WRITE
      x-release-status: PUBLIC
  /v1/me/employees/{employee_id}:
    get:
      tags:
      - V1Employees
      summary: RetrieveEmployee
      description: Provides the details for a single employee.
      operationId: RetrieveEmployee
      parameters:
      - name: employee_id
        in: path
        description: The employee's ID.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V1Employee'
      security:
      - oauth2:
        - EMPLOYEES_READ
      x-release-status: PUBLIC
    put:
      tags:
      - V1Employees
      summary: UpdateEmployee
      operationId: UpdateEmployee
      parameters:
      - name: employee_id
        in: path
        description: The ID of the role to modify.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: |-
          An object containing the fields to POST for the request.

          See the corresponding object definition for field details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V1Employee'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V1Employee'
      security:
      - oauth2:
        - EMPLOYEES_WRITE
      x-release-status: PUBLIC
  /v1/me/locations:
    get:
      tags:
      - V1Locations
      summary: ListLocations
      description: |-
        Provides details for all business locations associated with a Square
        account, including the Square-assigned object ID for the location.
      operationId: ListLocations
      parameters: []
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/V1Merchant'
                x-content-type: application/json
      deprecated: true
      security:
      - oauth2:
        - MERCHANT_PROFILE_READ
      x-release-status: DEPRECATED
      x-deprecation:
        deprecationDate: 2019-11-20
        retirementDate: 2020-11-18
        replacedBy: ListLocations
        guideUrl: https://developer.squareup.com/docs/migrate-from-v1/guides/v1-locations
  /v1/me/roles:
    get:
      tags:
      - V1Employees
      summary: ListEmployeeRoles
      description: Provides summary information for all of a business's employee roles.
      operationId: ListEmployeeRoles
      parameters:
      - name: order
        in: query
        description: 'The order in which employees are listed in the response, based
          on their created_at field.Default value: ASC'
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/SortOrder'
      - name: limit
        in: query
        description: The maximum integer number of employee entities to return in
          a single response. Default 100, maximum 200.
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: batch_token
        in: query
        description: |-
          A pagination cursor to retrieve the next set of results for your
          original query to the endpoint.
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/V1EmployeeRole'
                x-content-type: application/json
      security:
      - oauth2:
        - EMPLOYEES_READ
      x-release-status: PUBLIC
    post:
      tags:
      - V1Employees
      summary: CreateEmployeeRole
      description: |-
        Creates an employee role you can then assign to employees.

        Square accounts can include any number of roles that can be assigned to
        employees. These roles define the actions and permissions granted to an
        employee with that role. For example, an employee with a "Shift Manager"
        role might be able to issue refunds in Square Point of Sale, whereas an
        employee with a "Clerk" role might not.

        Roles are assigned with the [V1UpdateEmployee](#endpoint-v1updateemployee)
        endpoint. An employee can have only one role at a time.

        If an employee has no role, they have none of the permissions associated
        with roles. All employees can accept payments with Square Point of Sale.
      operationId: CreateEmployeeRole
      parameters: []
      requestBody:
        description: An EmployeeRole object with a name and permissions, and an optional
          owner flag.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V1EmployeeRole'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V1EmployeeRole'
      security:
      - oauth2:
        - EMPLOYEES_WRITE
      x-release-status: PUBLIC
  /v1/me/roles/{role_id}:
    get:
      tags:
      - V1Employees
      summary: RetrieveEmployeeRole
      description: Provides the details for a single employee role.
      operationId: RetrieveEmployeeRole
      parameters:
      - name: role_id
        in: path
        description: The role's ID.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V1EmployeeRole'
      security:
      - oauth2:
        - EMPLOYEES_READ
      x-release-status: PUBLIC
    put:
      tags:
      - V1Employees
      summary: UpdateEmployeeRole
      description: Modifies the details of an employee role.
      operationId: UpdateEmployeeRole
      parameters:
      - name: role_id
        in: path
        description: The ID of the role to modify.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: |-
          An object containing the fields to POST for the request.

          See the corresponding object definition for field details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V1EmployeeRole'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V1EmployeeRole'
      security:
      - oauth2:
        - EMPLOYEES_WRITE
      x-release-status: PUBLIC
  /v1/me/timecards:
    get:
      tags:
      - V1Employees
      summary: ListTimecards
      description: Provides summary information for all of a business's employee timecards.
      operationId: ListTimecards
      parameters:
      - name: order
        in: query
        description: The order in which timecards are listed in the response, based
          on their created_at field.
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/SortOrder'
      - name: employee_id
        in: query
        description: If provided, the endpoint returns only timecards for the employee
          with the specified ID.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: begin_clockin_time
        in: query
        description: If filtering results by their clockin_time field, the beginning
          of the requested reporting period, in ISO 8601 format.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: end_clockin_time
        in: query
        description: If filtering results by their clockin_time field, the end of
          the requested reporting period, in ISO 8601 format.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: begin_clockout_time
        in: query
        description: If filtering results by their clockout_time field, the beginning
          of the requested reporting period, in ISO 8601 format.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: end_clockout_time
        in: query
        description: If filtering results by their clockout_time field, the end of
          the requested reporting period, in ISO 8601 format.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: begin_updated_at
        in: query
        description: If filtering results by their updated_at field, the beginning
          of the requested reporting period, in ISO 8601 format.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: end_updated_at
        in: query
        description: If filtering results by their updated_at field, the end of the
          requested reporting period, in ISO 8601 format.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: deleted
        in: query
        description: If true, only deleted timecards are returned. If false, only
          valid timecards are returned.If you don't provide this parameter, both valid
          and deleted timecards are returned.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: false
      - name: limit
        in: query
        description: The maximum integer number of employee entities to return in
          a single response. Default 100, maximum 200.
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: batch_token
        in: query
        description: |-
          A pagination cursor to retrieve the next set of results for your
          original query to the endpoint.
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/V1Timecard'
                x-content-type: application/json
      deprecated: true
      security:
      - oauth2:
        - TIMECARDS_READ
      x-release-status: DEPRECATED
      x-deprecation:
        deprecationDate: 2020-02-26
        retirementDate: 2021-02-26
        replacedBy: SearchShifts
        guideUrl: https://developer.squareup.com/docs/migrate-from-v1/guides/v1-timecards
    post:
      tags:
      - V1Employees
      summary: CreateTimecard
      description: |-
        Creates a timecard for an employee and clocks them in with an
        `API_CREATE` event and a `clockin_time` set to the current time unless
        the request provides a different value.

        To import timecards from another
        system (rather than clocking someone in). Specify the `clockin_time`
        and* `clockout_time` in the request.

        Timecards correspond to exactly one shift for a given employee, bounded
        by the `clockin_time` and `clockout_time` fields. An employee is
        considered clocked in if they have a timecard that doesn't have a
        `clockout_time` set. An employee that is currently clocked in cannot
        be clocked in a second time.
      operationId: CreateTimecard
      parameters: []
      requestBody:
        description: |-
          An object containing the fields to POST for the request.

          See the corresponding object definition for field details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V1Timecard'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V1Timecard'
      deprecated: true
      security:
      - oauth2:
        - TIMECARDS_WRITE
      x-release-status: DEPRECATED
      x-deprecation:
        deprecationDate: 2020-02-26
        retirementDate: 2021-02-26
        replacedBy: CreateShift
        guideUrl: https://developer.squareup.com/docs/migrate-from-v1/guides/v1-timecards
  /v1/me/timecards/{timecard_id}:
    get:
      tags:
      - V1Employees
      summary: RetrieveTimecard
      description: |-
        Provides the details for a single timecard.


        <aside>
        Only approved accounts can manage their employees with Square.
        Unapproved accounts cannot use employee management features with the
        API.
        </aside>
      operationId: RetrieveTimecard
      parameters:
      - name: timecard_id
        in: path
        description: The timecard's ID.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V1Timecard'
      deprecated: true
      security:
      - oauth2:
        - TIMECARDS_READ
      x-release-status: DEPRECATED
      x-deprecation:
        deprecationDate: 2020-02-26
        retirementDate: 2021-02-26
        replacedBy: GetShift
        guideUrl: https://developer.squareup.com/docs/migrate-from-v1/guides/v1-timecards
    put:
      tags:
      - V1Employees
      summary: UpdateTimecard
      description: |-
        Modifies the details of a timecard with an `API_EDIT` event for
        the timecard. Updating an active timecard with a `clockout_time`
        clocks the employee out.
      operationId: UpdateTimecard
      parameters:
      - name: timecard_id
        in: path
        description: TThe ID of the timecard to modify.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: |-
          An object containing the fields to POST for the request.
          See the corresponding object definition for field details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V1Timecard'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V1Timecard'
      deprecated: true
      security:
      - oauth2:
        - TIMECARDS_WRITE
      x-release-status: DEPRECATED
      x-deprecation:
        deprecationDate: 2020-02-26
        retirementDate: 2021-02-26
        replacedBy: UpdateShift
        guideUrl: https://developer.squareup.com/docs/migrate-from-v1/guides/v1-timecards
    delete:
      tags:
      - V1Employees
      summary: DeleteTimecard
      description: |-
        Deletes a timecard. Timecards can also be deleted through the
        Square Dashboard. Deleted timecards are still accessible through
        Connect API endpoints, but cannot be modified. The `deleted` field of
        the `Timecard` object indicates whether the timecard has been deleted.


        __Note__: By default, deleted timecards appear alongside valid timecards in
        results returned by the [ListTimecards](#endpoint-v1employees-listtimecards)
        endpoint. To filter deleted timecards, include the `deleted` query
        parameter in the list request.

        Only approved accounts can manage their employees with Square.
        Unapproved accounts cannot use employee management features with the
        API.
      operationId: DeleteTimecard
      parameters:
      - name: timecard_id
        in: path
        description: The ID of the timecard to delete.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
      deprecated: true
      security:
      - oauth2:
        - TIMECARDS_WRITE
      x-release-status: DEPRECATED
      x-deprecation:
        deprecationDate: 2020-02-26
        retirementDate: 2021-02-26
        replacedBy: DeleteShift
        guideUrl: https://developer.squareup.com/docs/migrate-from-v1/guides/v1-timecards
  /v1/me/timecards/{timecard_id}/events:
    get:
      tags:
      - V1Employees
      summary: ListTimecardEvents
      description: |-
        Provides summary information for all events associated with a
        particular timecard.


        <aside>
        Only approved accounts can manage their employees with Square.
        Unapproved accounts cannot use employee management features with the
        API.
        </aside>
      operationId: ListTimecardEvents
      parameters:
      - name: timecard_id
        in: path
        description: The ID of the timecard to list events for.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/V1TimecardEvent'
                x-content-type: application/json
      deprecated: true
      security:
      - oauth2:
        - TIMECARDS_READ
      x-release-status: DEPRECATED
      x-deprecation:
        deprecationDate: 2020-02-26
        retirementDate: 2021-02-26
        guideUrl: https://developer.squareup.com/docs/migrate-from-v1/guides/v1-timecards
  /v1/{location_id}/bank-accounts:
    get:
      tags:
      - V1Transactions
      summary: ListBankAccounts
      description: Provides non-confidential details for all of a location's associated
        bank accounts. This endpoint does not provide full bank account numbers, and
        there is no way to obtain a full bank account number with the Connect API.
      operationId: ListBankAccounts
      parameters:
      - name: location_id
        in: path
        description: The ID of the location to list bank accounts for.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/V1BankAccount'
                x-content-type: application/json
      deprecated: true
      security:
      - oauth2:
        - BANK_ACCOUNTS_READ
      x-release-status: DEPRECATED
      x-deprecation:
        deprecationDate: 2020-02-26
        retirementDate: 2021-02-26
        replacedBy: ListBankAccounts
        guideUrl: https://developer.squareup.com/docs/migrate-from-v1/guides/v1-bankaccounts
  /v1/{location_id}/bank-accounts/{bank_account_id}:
    get:
      tags:
      - V1Transactions
      summary: RetrieveBankAccount
      description: Provides non-confidential details for a merchant's associated bank
        account. This endpoint does not provide full bank account numbers, and there
        is no way to obtain a full bank account number with the Connect API.
      operationId: RetrieveBankAccount
      parameters:
      - name: location_id
        in: path
        description: The ID of the bank account's associated location.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: bank_account_id
        in: path
        description: The bank account's Square-issued ID. You obtain this value from
          Settlement objects returned.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V1BankAccount'
      deprecated: true
      security:
      - oauth2:
        - BANK_ACCOUNTS_READ
      x-release-status: DEPRECATED
      x-deprecation:
        deprecationDate: 2020-02-26
        retirementDate: 2021-02-26
        replacedBy: GetBankAccount
        guideUrl: https://developer.squareup.com/docs/migrate-from-v1/guides/v1-bankaccounts
  /v1/{location_id}/cash-drawer-shifts:
    get:
      tags:
      - V1Employees
      summary: ListCashDrawerShifts
      description: Provides the details for all of a location's cash drawer shifts
        during a date range. The date range you specify cannot exceed 90 days.
      operationId: ListCashDrawerShifts
      parameters:
      - name: location_id
        in: path
        description: The ID of the location to list cash drawer shifts for.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: order
        in: query
        description: 'The order in which cash drawer shifts are listed in the response,
          based on their created_at field. Default value: ASC'
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/SortOrder'
      - name: begin_time
        in: query
        description: 'The beginning of the requested reporting period, in ISO 8601
          format. Default value: The current time minus 90 days.'
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: end_time
        in: query
        description: 'The beginning of the requested reporting period, in ISO 8601
          format. Default value: The current time.'
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/V1CashDrawerShift'
                x-content-type: application/json
      deprecated: true
      security:
      - oauth2:
        - PAYMENTS_READ
      x-release-status: DEPRECATED
      x-deprecation:
        deprecationDate: 2020-02-26
        retirementDate: 2021-02-26
        replacedBy: ListCashDrawerShifts
        guideUrl: https://developer.squareup.com/docs/migrate-from-v1/guides/v1-cashdrawershifts
  /v1/{location_id}/cash-drawer-shifts/{shift_id}:
    get:
      tags:
      - V1Employees
      summary: RetrieveCashDrawerShift
      description: Provides the details for a single cash drawer shift, including
        all events that occurred during the shift.
      operationId: RetrieveCashDrawerShift
      parameters:
      - name: location_id
        in: path
        description: The ID of the location to list cash drawer shifts for.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: shift_id
        in: path
        description: The shift's ID.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V1CashDrawerShift'
      deprecated: true
      security:
      - oauth2:
        - TIMECARDS_READ
      x-release-status: DEPRECATED
      x-deprecation:
        deprecationDate: 2020-02-26
        retirementDate: 2021-02-26
        replacedBy: RetrieveCashDrawerShift
        guideUrl: https://developer.squareup.com/docs/migrate-from-v1/guides/v1-cashdrawershifts
  /v1/{location_id}/categories:
    get:
      tags:
      - V1Items
      summary: ListCategories
      description: Lists all the item categories for a given location.
      operationId: ListCategories
      parameters:
      - name: location_id
        in: path
        description: The ID of the location to list categories for.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/V1Category'
                x-content-type: application/json
      deprecated: true
      security:
      - oauth2:
        - ITEMS_READ
      x-release-status: DEPRECATED
      x-deprecation:
        deprecationDate: 2019-11-20
        retirementDate: 2020-11-18
        replacedBy: ListCatalog
        guideUrl: https://developer.squareup.com/docs/migrate-from-v1/guides/v1-items
    post:
      tags:
      - V1Items
      summary: CreateCategory
      description: Creates an item category.
      operationId: CreateCategory
      parameters:
      - name: location_id
        in: path
        description: The ID of the location to create an item for.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: |-
          An object containing the fields to POST for the request.

          See the corresponding object definition for field details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V1Category'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V1Category'
      deprecated: true
      security:
      - oauth2:
        - ITEMS_WRITE
      x-release-status: DEPRECATED
      x-deprecation:
        deprecationDate: 2019-11-20
        retirementDate: 2020-11-18
        replacedBy: UpsertCatalogObject
        guideUrl: https://developer.squareup.com/docs/migrate-from-v1/guides/v1-items
  /v1/{location_id}/categories/{category_id}:
    put:
      tags:
      - V1Items
      summary: UpdateCategory
      description: Modifies the details of an existing item category.
      operationId: UpdateCategory
      parameters:
      - name: location_id
        in: path
        description: The ID of the category's associated location.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: category_id
        in: path
        description: The ID of the category to edit.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: |-
          An object containing the fields to POST for the request.

          See the corresponding object definition for field details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V1Category'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V1Category'
      deprecated: true
      security:
      - oauth2:
        - ITEMS_WRITE
      x-release-status: DEPRECATED
      x-deprecation:
        deprecationDate: 2019-11-20
        retirementDate: 2020-11-18
        replacedBy: UpsertCatalogObject
        guideUrl: https://developer.squareup.com/docs/migrate-from-v1/guides/v1-items
    delete:
      tags:
      - V1Items
      summary: DeleteCategory
      description: |-
        Deletes an existing item category.


        __DeleteCategory__ returns nothing on success but Connect SDKs
        map the empty response to an empty `V1DeleteCategoryRequest` object
        as documented below.
      operationId: DeleteCategory
      parameters:
      - name: location_id
        in: path
        description: The ID of the item's associated location.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: category_id
        in: path
        description: The ID of the category to delete.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V1Category'
      deprecated: true
      security:
      - oauth2:
        - ITEMS_WRITE
      x-release-status: DEPRECATED
      x-deprecation:
        deprecationDate: 2019-11-20
        retirementDate: 2020-11-18
        replacedBy: DeleteCatalogObject
        guideUrl: https://developer.squareup.com/docs/migrate-from-v1/guides/v1-items
  /v1/{location_id}/discounts:
    get:
      tags:
      - V1Items
      summary: ListDiscounts
      description: Lists all the discounts for a given location.
      operationId: ListDiscounts
      parameters:
      - name: location_id
        in: path
        description: The ID of the location to list categories for.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/V1Discount'
                x-content-type: application/json
      deprecated: true
      security:
      - oauth2:
        - ITEMS_READ
      x-release-status: DEPRECATED
      x-deprecation:
        deprecationDate: 2019-11-20
        retirementDate: 2020-11-18
        replacedBy: ListCatalog
        guideUrl: https://developer.squareup.com/docs/migrate-from-v1/guides/v1-items
    post:
      tags:
      - V1Items
      summary: CreateDiscount
      description: Creates a discount.
      operationId: CreateDiscount
      parameters:
      - name: location_id
        in: path
        description: The ID of the location to create an item for.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: |-
          An object containing the fields to POST for the request.

          See the corresponding object definition for field details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V1Discount'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V1Discount'
      deprecated: true
      security:
      - oauth2:
        - ITEMS_WRITE
      x-release-status: DEPRECATED
      x-deprecation:
        deprecationDate: 2019-11-20
        retirementDate: 2020-11-18
        replacedBy: UpsertCatalogObject
        guideUrl: https://developer.squareup.com/docs/migrate-from-v1/guides/v1-items
  /v1/{location_id}/discounts/{discount_id}:
    put:
      tags:
      - V1Items
      summary: UpdateDiscount
      description: Modifies the details of an existing discount.
      operationId: UpdateDiscount
      parameters:
      - name: location_id
        in: path
        description: The ID of the category's associated location.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: discount_id
        in: path
        description: The ID of the discount to edit.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: |-
          An object containing the fields to POST for the request.

          See the corresponding object definition for field details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V1Discount'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V1Discount'
      deprecated: true
      security:
      - oauth2:
        - ITEMS_WRITE
      x-release-status: DEPRECATED
      x-deprecation:
        deprecationDate: 2019-11-20
        retirementDate: 2020-11-18
        replacedBy: UpsertCatalogObject
        guideUrl: https://developer.squareup.com/docs/migrate-from-v1/guides/v1-items
    delete:
      tags:
      - V1Items
      summary: DeleteDiscount
      description: |-
        Deletes an existing discount.


        __DeleteDiscount__ returns nothing on success but Connect SDKs
        map the empty response to an empty `V1DeleteDiscountRequest` object
        as documented below.
      operationId: DeleteDiscount
      parameters:
      - name: location_id
        in: path
        description: The ID of the item's associated location.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: discount_id
        in: path
        description: The ID of the discount to delete.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V1Discount'
      deprecated: true
      security:
      - oauth2:
        - ITEMS_WRITE
      x-release-status: DEPRECATED
      x-deprecation:
        deprecationDate: 2019-11-20
        retirementDate: 2020-11-18
        replacedBy: DeleteCatalogObject
        guideUrl: https://developer.squareup.com/docs/migrate-from-v1/guides/v1-items
  /v1/{location_id}/fees:
    get:
      tags:
      - V1Items
      summary: ListFees
      description: Lists all the fees (taxes) for a given location.
      operationId: ListFees
      parameters:
      - name: location_id
        in: path
        description: The ID of the location to list fees for.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/V1Fee'
                x-content-type: application/json
      deprecated: true
      security:
      - oauth2:
        - ITEMS_READ
      x-release-status: DEPRECATED
      x-deprecation:
        deprecationDate: 2019-11-20
        retirementDate: 2020-11-18
        replacedBy: ListCatalog
        guideUrl: https://developer.squareup.com/docs/migrate-from-v1/guides/v1-items
    post:
      tags:
      - V1Items
      summary: CreateFee
      description: Creates a fee (tax).
      operationId: CreateFee
      parameters:
      - name: location_id
        in: path
        description: The ID of the location to create a fee for.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: |-
          An object containing the fields to POST for the request.

          See the corresponding object definition for field details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V1Fee'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V1Fee'
      deprecated: true
      security:
      - oauth2:
        - ITEMS_WRITE
      x-release-status: DEPRECATED
      x-deprecation:
        deprecationDate: 2019-11-20
        retirementDate: 2020-11-18
        replacedBy: UpsertCatalogObject
        guideUrl: https://developer.squareup.com/docs/migrate-from-v1/guides/v1-items
  /v1/{location_id}/fees/{fee_id}:
    put:
      tags:
      - V1Items
      summary: UpdateFee
      description: Modifies the details of an existing fee (tax).
      operationId: UpdateFee
      parameters:
      - name: location_id
        in: path
        description: The ID of the fee's associated location.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: fee_id
        in: path
        description: The ID of the fee to edit.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: |-
          An object containing the fields to POST for the request.

          See the corresponding object definition for field details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V1Fee'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V1Fee'
      deprecated: true
      security:
      - oauth2:
        - ITEMS_WRITE
      x-release-status: DEPRECATED
      x-deprecation:
        deprecationDate: 2019-11-20
        retirementDate: 2020-11-18
        replacedBy: UpsertCatalogObject
        guideUrl: https://developer.squareup.com/docs/migrate-from-v1/guides/v1-items
    delete:
      tags:
      - V1Items
      summary: DeleteFee
      description: |-
        Deletes an existing fee (tax).


        __DeleteFee__ returns nothing on success but Connect SDKs
        map the empty response to an empty `V1DeleteFeeRequest` object
        as documented below.
      operationId: DeleteFee
      parameters:
      - name: location_id
        in: path
        description: The ID of the fee's associated location.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: fee_id
        in: path
        description: The ID of the fee to delete.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V1Fee'
      deprecated: true
      security:
      - oauth2:
        - ITEMS_WRITE
      x-release-status: DEPRECATED
      x-deprecation:
        deprecationDate: 2019-11-20
        retirementDate: 2020-11-18
        replacedBy: DeleteCatalogObject
        guideUrl: https://developer.squareup.com/docs/migrate-from-v1/guides/v1-items
  /v1/{location_id}/inventory:
    get:
      tags:
      - V1Items
      summary: ListInventory
      description: |-
        Provides inventory information for all inventory-enabled item
        variations.
      operationId: ListInventory
      parameters:
      - name: location_id
        in: path
        description: The ID of the item's associated location.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: limit
        in: query
        description: The maximum number of inventory entries to return in a single
          response. This value cannot exceed 1000.
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: batch_token
        in: query
        description: |-
          A pagination cursor to retrieve the next set of results for your
          original query to the endpoint.
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/V1InventoryEntry'
                x-content-type: application/json
      deprecated: true
      security:
      - oauth2:
        - ITEMS_READ
      x-release-status: DEPRECATED
      x-deprecation:
        deprecationDate: 2019-11-20
        retirementDate: 2020-11-18
        replacedBy: BatchRetrieveInventoryCounts
        guideUrl: https://developer.squareup.com/docs/migrate-from-v1/guides/v1-items
  /v1/{location_id}/inventory/{variation_id}:
    post:
      tags:
      - V1Items
      summary: AdjustInventory
      description: Adjusts the current available inventory of an item variation.
      operationId: AdjustInventory
      parameters:
      - name: location_id
        in: path
        description: The ID of the item's associated location.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: variation_id
        in: path
        description: The ID of the variation to adjust inventory information for.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: |-
          An object containing the fields to POST for the request.

          See the corresponding object definition for field details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V1AdjustInventoryRequest'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V1InventoryEntry'
      deprecated: true
      security:
      - oauth2:
        - ITEMS_WRITE
      x-release-status: DEPRECATED
      x-deprecation:
        deprecationDate: 2019-11-20
        retirementDate: 2020-11-18
        replacedBy: BatchChangeInventory
        guideUrl: https://developer.squareup.com/docs/migrate-from-v1/guides/v1-items
  /v1/{location_id}/items:
    get:
      tags:
      - V1Items
      summary: ListItems
      description: Provides summary information of all items for a given location.
      operationId: ListItems
      parameters:
      - name: batch_token
        in: query
        description: |-
          A pagination cursor to retrieve the next set of results for your
          original query to the endpoint.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: location_id
        in: path
        description: The ID of the location to list items for.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/V1Item'
                x-content-type: application/json
      deprecated: true
      security:
      - oauth2:
        - ITEMS_READ
      x-release-status: DEPRECATED
      x-deprecation:
        deprecationDate: 2019-11-20
        retirementDate: 2020-11-18
        replacedBy: ListCatalog
        guideUrl: https://developer.squareup.com/docs/migrate-from-v1/guides/v1-items
    post:
      tags:
      - V1Items
      summary: CreateItem
      description: |-
        Creates an item and at least one variation for it.



        Item-related entities include fields you can use to associate them with
        entities in a non-Square system.

        When you create an item-related entity, you can optionally specify `id`.
        This value must be unique among all IDs ever specified for the account,
        including those specified by other applications. You can never reuse an
        entity ID. If you do not specify an ID, Square generates one for the entity.

        Item variations have a `user_data` string that lets you associate arbitrary
        metadata with the variation. The string cannot exceed 255 characters.
      operationId: CreateItem
      parameters:
      - name: location_id
        in: path
        description: The ID of the location to create an item for.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: |-
          An object containing the fields to POST for the request.

          See the corresponding object definition for field details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V1Item'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V1Item'
      deprecated: true
      security:
      - oauth2:
        - ITEMS_WRITE
      x-release-status: DEPRECATED
      x-deprecation:
        deprecationDate: 2019-11-20
        retirementDate: 2020-11-18
        replacedBy: UpsertCatalogObject
        guideUrl: https://developer.squareup.com/docs/migrate-from-v1/guides/v1-items
  /v1/{location_id}/items/{item_id}:
    get:
      tags:
      - V1Items
      summary: RetrieveItem
      description: |-
        Provides the details for a single item, including associated modifier
        lists and fees.
      operationId: RetrieveItem
      parameters:
      - name: location_id
        in: path
        description: The ID of the item's associated location.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: item_id
        in: path
        description: The item's ID.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V1Item'
      deprecated: true
      security:
      - oauth2:
        - ITEMS_READ
      x-release-status: DEPRECATED
      x-deprecation:
        deprecationDate: 2019-11-20
        retirementDate: 2020-11-18
        replacedBy: RetrieveCatalogObject
        guideUrl: https://developer.squareup.com/docs/migrate-from-v1/guides/v1-items
    put:
      tags:
      - V1Items
      summary: UpdateItem
      description: Modifies the core details of an existing item.
      operationId: UpdateItem
      parameters:
      - name: location_id
        in: path
        description: The ID of the item's associated location.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: item_id
        in: path
        description: The ID of the item to modify.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: |-
          An object containing the fields to POST for the request.

          See the corresponding object definition for field details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V1Item'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V1Item'
      deprecated: true
      security:
      - oauth2:
        - ITEMS_WRITE
      x-release-status: DEPRECATED
      x-deprecation:
        deprecationDate: 2019-11-20
        retirementDate: 2020-11-18
        replacedBy: UpsertCatalogObject
        guideUrl: https://developer.squareup.com/docs/migrate-from-v1/guides/v1-items
    delete:
      tags:
      - V1Items
      summary: DeleteItem
      description: |-
        Deletes an existing item and all item variations associated with it.


        __DeleteItem__ returns nothing on success but Connect SDKs
        map the empty response to an empty `V1DeleteItemRequest` object
        as documented below.
      operationId: DeleteItem
      parameters:
      - name: location_id
        in: path
        description: The ID of the item's associated location.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: item_id
        in: path
        description: The ID of the item to modify.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V1Item'
      deprecated: true
      security:
      - oauth2:
        - ITEMS_WRITE
      x-release-status: DEPRECATED
      x-deprecation:
        deprecationDate: 2019-11-20
        retirementDate: 2020-11-18
        replacedBy: DeleteCatalogObject
        guideUrl: https://developer.squareup.com/docs/migrate-from-v1/guides/v1-items
  /v1/{location_id}/items/{item_id}/fees/{fee_id}:
    put:
      tags:
      - V1Items
      summary: ApplyFee
      description: |-
        Associates a fee with an item so the fee is automatically applied to
        the item in Square Point of Sale.
      operationId: ApplyFee
      parameters:
      - name: location_id
        in: path
        description: The ID of the fee's associated location.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: item_id
        in: path
        description: The ID of the item to add the fee to.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: fee_id
        in: path
        description: The ID of the fee to apply.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V1Item'
      deprecated: true
      security:
      - oauth2:
        - ITEMS_WRITE
      x-release-status: DEPRECATED
      x-deprecation:
        deprecationDate: 2019-11-20
        retirementDate: 2020-11-18
        replacedBy: UpdateItemTaxes
        guideUrl: https://developer.squareup.com/docs/migrate-from-v1/guides/v1-items
    delete:
      tags:
      - V1Items
      summary: RemoveFee
      description: |-
        Removes a fee assocation from an item so the fee is no longer
        automatically applied to the item in Square Point of Sale.
      operationId: RemoveFee
      parameters:
      - name: location_id
        in: path
        description: The ID of the fee's associated location.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: item_id
        in: path
        description: The ID of the item to add the fee to.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: fee_id
        in: path
        description: The ID of the fee to apply.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V1Item'
      deprecated: true
      security:
      - oauth2:
        - ITEMS_WRITE
      x-release-status: DEPRECATED
      x-deprecation:
        deprecationDate: 2019-11-20
        retirementDate: 2020-11-18
        replacedBy: UpdateItemTaxes
        guideUrl: https://developer.squareup.com/docs/migrate-from-v1/guides/v1-items
  /v1/{location_id}/items/{item_id}/image:
    post:
      tags:
      - V1Items
      summary: UploadItemImage
      description: |-
        Uploads a JPEG or PNG image and sets it as the master image for
        an item.


        If you upload an image for an item that already has a master image, the new
        image replaces the existing one.

        <aside class="important">
        Requests to this endpoint use the
        <code>Content-Type: multipart/form-data</code> header instead of
        <code>Content-Type: application/json</code>. Square recommends using an
        HTTP library (such as Requests for Python) that simplifies the process for
        sending <code>multipart/form-data</code> requests.
        </aside>

        The request body assumes the multipart boundary for the request is set to
        `BOUNDARY` in the `Content-Type header`, for example:
        ```
        Content-Type: multipart/form-data; boundary=BOUNDARY
        ```
        __Note__: some HTTP libraries will set the multipart boundary for you.
      operationId: UploadItemImage
      parameters:
      - name: location_id
        in: path
        description: The Square-issued location ID indicating where the item is available.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: item_id
        in: path
        description: The Square-issued ID of the item to modify.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: |-
          An object containing the fields to POST for the request.

          See the corresponding object definition for field details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V1UploadItemImageRequest'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V1ItemImage'
      deprecated: true
      security:
      - oauth2:
        - ITEMS_WRITE
      x-release-status: DEPRECATED
      x-deprecation:
        deprecationDate: 2019-11-20
        retirementDate: 2020-11-18
        replacedBy: CreateCatalogImage
        guideUrl: https://developer.squareup.com/docs/migrate-from-v1/guides/v1-items
      x-visibility: DOC_ONLY
  /v1/{location_id}/items/{item_id}/modifier-lists/{modifier_list_id}:
    put:
      tags:
      - V1Items
      summary: ApplyModifierList
      description: |-
        Associates a modifier list with an item so the associated modifier
        options can be applied to the item.
      operationId: ApplyModifierList
      parameters:
      - name: location_id
        in: path
        description: The ID of the item's associated location.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: modifier_list_id
        in: path
        description: The ID of the modifier list to apply.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: item_id
        in: path
        description: The ID of the item to add the modifier list to.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V1Item'
      deprecated: true
      security:
      - oauth2:
        - ITEMS_WRITE
      x-release-status: DEPRECATED
      x-deprecation:
        deprecationDate: 2019-11-20
        retirementDate: 2020-11-18
        replacedBy: UpdateItemModifierLists
        guideUrl: https://developer.squareup.com/docs/migrate-from-v1/guides/v1-items
    delete:
      tags:
      - V1Items
      summary: RemoveModifierList
      description: |-
        Removes a modifier list association from an item so the modifier
        options from the list can no longer be applied to the item.
      operationId: RemoveModifierList
      parameters:
      - name: location_id
        in: path
        description: The ID of the item's associated location.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: modifier_list_id
        in: path
        description: The ID of the modifier list to remove.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: item_id
        in: path
        description: The ID of the item to remove the modifier list from.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V1Item'
      deprecated: true
      security:
      - oauth2:
        - ITEMS_WRITE
      x-release-status: DEPRECATED
      x-deprecation:
        deprecationDate: 2019-11-20
        retirementDate: 2020-11-18
        replacedBy: UpdateItemModifierLists
        guideUrl: https://developer.squareup.com/docs/migrate-from-v1/guides/v1-items
  /v1/{location_id}/items/{item_id}/variations:
    post:
      tags:
      - V1Items
      summary: CreateVariation
      description: Creates an item variation for an existing item.
      operationId: CreateVariation
      parameters:
      - name: location_id
        in: path
        description: The ID of the item's associated location.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: item_id
        in: path
        description: The item's ID.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: |-
          An object containing the fields to POST for the request.

          See the corresponding object definition for field details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V1Variation'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V1Variation'
      deprecated: true
      security:
      - oauth2:
        - ITEMS_WRITE
      x-release-status: DEPRECATED
      x-deprecation:
        deprecationDate: 2019-11-20
        retirementDate: 2020-11-18
        replacedBy: UpsertCatalogObject
        guideUrl: https://developer.squareup.com/docs/migrate-from-v1/guides/v1-items
  /v1/{location_id}/items/{item_id}/variations/{variation_id}:
    put:
      tags:
      - V1Items
      summary: UpdateVariation
      description: Modifies the details of an existing item variation.
      operationId: UpdateVariation
      parameters:
      - name: location_id
        in: path
        description: The ID of the item's associated location.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: item_id
        in: path
        description: The ID of the item to modify.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: variation_id
        in: path
        description: The ID of the variation to modify.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: |-
          An object containing the fields to POST for the request.

          See the corresponding object definition for field details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V1Variation'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V1Variation'
      deprecated: true
      security:
      - oauth2:
        - ITEMS_WRITE
      x-release-status: DEPRECATED
      x-deprecation:
        deprecationDate: 2019-11-20
        retirementDate: 2020-11-18
        replacedBy: UpsertCatalogObject
        guideUrl: https://developer.squareup.com/docs/migrate-from-v1/guides/v1-items
    delete:
      tags:
      - V1Items
      summary: DeleteVariation
      description: |-
        Deletes an existing item variation from an item.


        __DeleteVariation__ returns nothing on success but Connect SDKs
        map the empty response to an empty `V1DeleteVariationRequest` object
        as documented below.
      operationId: DeleteVariation
      parameters:
      - name: location_id
        in: path
        description: The ID of the item's associated location.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: item_id
        in: path
        description: The ID of the item to delete.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: variation_id
        in: path
        description: The ID of the variation to delete.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V1Variation'
      deprecated: true
      security:
      - oauth2:
        - ITEMS_WRITE
      x-release-status: DEPRECATED
      x-deprecation:
        deprecationDate: 2019-11-20
        retirementDate: 2020-11-18
        replacedBy: DeleteCatalogObject
        guideUrl: https://developer.squareup.com/docs/migrate-from-v1/guides/v1-items
  /v1/{location_id}/modifier-lists:
    get:
      tags:
      - V1Items
      summary: ListModifierLists
      description: Lists all the modifier lists for a given location.
      operationId: ListModifierLists
      parameters:
      - name: location_id
        in: path
        description: The ID of the location to list modifier lists for.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/V1ModifierList'
                x-content-type: application/json
      deprecated: true
      security:
      - oauth2:
        - ITEMS_READ
      x-release-status: DEPRECATED
      x-deprecation:
        deprecationDate: 2019-11-20
        retirementDate: 2020-11-18
        replacedBy: ListCatalog
        guideUrl: https://developer.squareup.com/docs/migrate-from-v1/guides/v1-items
    post:
      tags:
      - V1Items
      summary: CreateModifierList
      description: Creates an item modifier list and at least 1 modifier option for
        it.
      operationId: CreateModifierList
      parameters:
      - name: location_id
        in: path
        description: The ID of the location to create a modifier list for.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: |-
          An object containing the fields to POST for the request.

          See the corresponding object definition for field details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V1ModifierList'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V1ModifierList'
      deprecated: true
      security:
      - oauth2:
        - ITEMS_WRITE
      x-release-status: DEPRECATED
      x-deprecation:
        deprecationDate: 2019-11-20
        retirementDate: 2020-11-18
        replacedBy: UpsertCatalogObject
        guideUrl: https://developer.squareup.com/docs/migrate-from-v1/guides/v1-items
  /v1/{location_id}/modifier-lists/{modifier_list_id}:
    get:
      tags:
      - V1Items
      summary: RetrieveModifierList
      description: Provides the details for a single modifier list.
      operationId: RetrieveModifierList
      parameters:
      - name: location_id
        in: path
        description: The ID of the item's associated location.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: modifier_list_id
        in: path
        description: The modifier list's ID.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V1ModifierList'
      deprecated: true
      security:
      - oauth2:
        - ITEMS_READ
      x-release-status: DEPRECATED
      x-deprecation:
        deprecationDate: 2019-11-20
        retirementDate: 2020-11-18
        replacedBy: RetrieveCatalogObject
        guideUrl: https://developer.squareup.com/docs/migrate-from-v1/guides/v1-items
    put:
      tags:
      - V1Items
      summary: UpdateModifierList
      description: Modifies the details of an existing item modifier list.
      operationId: UpdateModifierList
      parameters:
      - name: location_id
        in: path
        description: The ID of the item's associated location.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: modifier_list_id
        in: path
        description: The ID of the modifier list to edit.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: |-
          An object containing the fields to POST for the request.

          See the corresponding object definition for field details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V1UpdateModifierListRequest'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V1ModifierList'
      deprecated: true
      security:
      - oauth2:
        - ITEMS_WRITE
      x-release-status: DEPRECATED
      x-deprecation:
        deprecationDate: 2019-11-20
        retirementDate: 2020-11-18
        replacedBy: UpsertCatalogObject
        guideUrl: https://developer.squareup.com/docs/migrate-from-v1/guides/v1-items
    delete:
      tags:
      - V1Items
      summary: DeleteModifierList
      description: |-
        Deletes an existing item modifier list and all modifier options
        associated with it.


        __DeleteModifierList__ returns nothing on success but Connect SDKs
        map the empty response to an empty `V1DeleteModifierListRequest` object
        as documented below.
      operationId: DeleteModifierList
      parameters:
      - name: location_id
        in: path
        description: The ID of the item's associated location.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: modifier_list_id
        in: path
        description: The ID of the modifier list to delete.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V1ModifierList'
      deprecated: true
      security:
      - oauth2:
        - ITEMS_WRITE
      x-release-status: DEPRECATED
      x-deprecation:
        deprecationDate: 2019-11-20
        retirementDate: 2020-11-18
        replacedBy: DeleteCatalogObject
        guideUrl: https://developer.squareup.com/docs/migrate-from-v1/guides/v1-items
  /v1/{location_id}/modifier-lists/{modifier_list_id}/modifier-options:
    post:
      tags:
      - V1Items
      summary: CreateModifierOption
      description: Creates an item modifier option and adds it to a modifier list.
      operationId: CreateModifierOption
      parameters:
      - name: location_id
        in: path
        description: The ID of the item's associated location.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: modifier_list_id
        in: path
        description: The ID of the modifier list to edit.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: |-
          An object containing the fields to POST for the request.

          See the corresponding object definition for field details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V1ModifierOption'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V1ModifierOption'
      deprecated: true
      security:
      - oauth2:
        - ITEMS_WRITE
      x-release-status: DEPRECATED
      x-deprecation:
        deprecationDate: 2019-11-20
        retirementDate: 2020-11-18
        replacedBy: UpsertCatalogObject
        guideUrl: https://developer.squareup.com/docs/migrate-from-v1/guides/v1-items
  /v1/{location_id}/modifier-lists/{modifier_list_id}/modifier-options/{modifier_option_id}:
    put:
      tags:
      - V1Items
      summary: UpdateModifierOption
      description: Modifies the details of an existing item modifier option.
      operationId: UpdateModifierOption
      parameters:
      - name: location_id
        in: path
        description: The ID of the item's associated location.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: modifier_list_id
        in: path
        description: The ID of the modifier list to edit.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: modifier_option_id
        in: path
        description: The ID of the modifier list to edit.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: |-
          An object containing the fields to POST for the request.

          See the corresponding object definition for field details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V1ModifierOption'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V1ModifierOption'
      deprecated: true
      security:
      - oauth2:
        - ITEMS_WRITE
      x-release-status: DEPRECATED
      x-deprecation:
        deprecationDate: 2019-11-20
        retirementDate: 2020-11-18
        replacedBy: UpsertCatalogObject
        guideUrl: https://developer.squareup.com/docs/migrate-from-v1/guides/v1-items
    delete:
      tags:
      - V1Items
      summary: DeleteModifierOption
      description: |-
        Deletes an existing item modifier option from a modifier list.


        __DeleteModifierOption__ returns nothing on success but Connect
        SDKs map the empty response to an empty `V1DeleteModifierOptionRequest`
        object.
      operationId: DeleteModifierOption
      parameters:
      - name: location_id
        in: path
        description: The ID of the item's associated location.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: modifier_list_id
        in: path
        description: The ID of the modifier list to delete.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: modifier_option_id
        in: path
        description: The ID of the modifier list to edit.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V1ModifierOption'
      deprecated: true
      security:
      - oauth2:
        - ITEMS_WRITE
      x-release-status: DEPRECATED
      x-deprecation:
        deprecationDate: 2019-11-20
        retirementDate: 2020-11-18
        replacedBy: DeleteCatalogObject
        guideUrl: https://developer.squareup.com/docs/migrate-from-v1/guides/v1-items
  /v1/{location_id}/pages:
    get:
      tags:
      - V1Items
      summary: ListPages
      description: |-
        Lists all Favorites pages (in Square Point of Sale) for a given
        location.
      operationId: ListPages
      parameters:
      - name: location_id
        in: path
        description: The ID of the location to list Favorites pages for.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/V1Page'
                x-content-type: application/json
      deprecated: true
      security:
      - oauth2:
        - ITEMS_READ
      x-release-status: DEPRECATED
      x-deprecation:
        deprecationDate: 2019-11-20
        retirementDate: 2020-11-18
        guideUrl: https://developer.squareup.com/docs/migrate-from-v1/guides/v1-items
    post:
      tags:
      - V1Items
      summary: CreatePage
      description: Creates a Favorites page in Square Point of Sale.
      operationId: CreatePage
      parameters:
      - name: location_id
        in: path
        description: The ID of the location to create an item for.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: |-
          An object containing the fields to POST for the request.

          See the corresponding object definition for field details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V1Page'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V1Page'
      deprecated: true
      security:
      - oauth2:
        - ITEMS_WRITE
      x-release-status: DEPRECATED
      x-deprecation:
        deprecationDate: 2019-11-20
        retirementDate: 2020-11-18
        guideUrl: https://developer.squareup.com/docs/migrate-from-v1/guides/v1-items
  /v1/{location_id}/pages/{page_id}:
    put:
      tags:
      - V1Items
      summary: UpdatePage
      description: Modifies the details of a Favorites page in Square Point of Sale.
      operationId: UpdatePage
      parameters:
      - name: location_id
        in: path
        description: The ID of the Favorites page's associated location
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: page_id
        in: path
        description: The ID of the page to modify.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: |-
          An object containing the fields to POST for the request.

          See the corresponding object definition for field details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V1Page'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V1Page'
      deprecated: true
      security:
      - oauth2:
        - ITEMS_WRITE
      x-release-status: DEPRECATED
      x-deprecation:
        deprecationDate: 2019-11-20
        retirementDate: 2020-11-18
        guideUrl: https://developer.squareup.com/docs/migrate-from-v1/guides/v1-items
    delete:
      tags:
      - V1Items
      summary: DeletePage
      description: |-
        Deletes an existing Favorites page and all of its cells.


        __DeletePage__ returns nothing on success but Connect SDKs
        map the empty response to an empty `V1DeletePageRequest` object.
      operationId: DeletePage
      parameters:
      - name: location_id
        in: path
        description: The ID of the Favorites page's associated location.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: page_id
        in: path
        description: The ID of the page to delete.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V1Page'
      deprecated: true
      security:
      - oauth2:
        - ITEMS_WRITE
      x-release-status: DEPRECATED
      x-deprecation:
        deprecationDate: 2019-11-20
        retirementDate: 2020-11-18
        guideUrl: https://developer.squareup.com/docs/migrate-from-v1/guides/v1-items
  /v1/{location_id}/pages/{page_id}/cells:
    put:
      tags:
      - V1Items
      summary: UpdatePageCell
      description: Modifies a cell of a Favorites page in Square Point of Sale.
      operationId: UpdatePageCell
      parameters:
      - name: location_id
        in: path
        description: The ID of the Favorites page's associated location.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: page_id
        in: path
        description: The ID of the page the cell belongs to.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: |-
          An object containing the fields to POST for the request.

          See the corresponding object definition for field details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V1PageCell'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V1Page'
      deprecated: true
      security:
      - oauth2:
        - ITEMS_WRITE
      x-release-status: DEPRECATED
      x-deprecation:
        deprecationDate: 2019-11-20
        retirementDate: 2020-11-18
        guideUrl: https://developer.squareup.com/docs/migrate-from-v1/guides/v1-items
    delete:
      tags:
      - V1Items
      summary: DeletePageCell
      description: |-
        Deletes a cell from a Favorites page in Square Point of Sale.


        __DeletePageCell__ returns nothing on success but Connect SDKs
        map the empty response to an empty `V1DeletePageCellRequest` object
[...]
