openapi: 3.0.0
info:
  title: Square
  description: Use Square APIs to manage and run business including payment, customer,
    product, inventory, and employee management.
  termsOfService: https://connect.squareup.com/tos
  contact:
    name: Square Developer Platform
    url: https://squareup.com/developers
    email: developers@squareup.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: "2.0"
  x-server-configuration:
    default-environment: production
    default-server: default
    environments:
    - name: production
      servers:
      - name: default
        url: https://connect.squareup.com
    - name: sandbox
      servers:
      - name: default
        url: https://connect.squareupsandbox.com
    - name: custom
      servers:
      - name: default
        url: '{custom_url}'
    parameters:
    - name: custom_url
      description: Sets the base URL requests are made to. Defaults to `https://connect.squareup.com`
      type: string
      example: https://connect.squareup.com
  x-square-generic-error-codes:
  - ACCESS_TOKEN_EXPIRED
  - ACCESS_TOKEN_REVOKED
  - API_VERSION_INCOMPATIBLE
  - APPLICATION_DISABLED
  - ARRAY_EMPTY
  - ARRAY_LENGTH_TOO_LONG
  - ARRAY_LENGTH_TOO_SHORT
  - BAD_CERTIFICATE
  - BAD_GATEWAY
  - BAD_REQUEST
  - CONFLICT
  - CONFLICTING_PARAMETERS
  - CURRENCY_MISMATCH
  - EXPECTED_ARRAY
  - EXPECTED_BASE64_ENCODED_BYTE_ARRAY
  - EXPECTED_BOOLEAN
  - EXPECTED_FLOAT
  - EXPECTED_INTEGER
  - EXPECTED_JSON_BODY
  - EXPECTED_MAP
  - EXPECTED_OBJECT
  - EXPECTED_STRING
  - FORBIDDEN
  - GATEWAY_TIMEOUT
  - GONE
  - IDEMPOTENCY_KEY_REUSED
  - INCORRECT_TYPE
  - INSUFFICIENT_SCOPES
  - INTERNAL_SERVER_ERROR
  - INVALID_ARRAY_VALUE
  - INVALID_CONTENT_TYPE
  - INVALID_CURSOR
  - INVALID_ENUM_VALUE
  - INVALID_FORM_VALUE
  - INVALID_SORT_ORDER
  - INVALID_SQUARE_VERSION_FORMAT
  - INVALID_TIME
  - INVALID_TIME_RANGE
  - INVALID_VALUE
  - LOCATION_MISMATCH
  - MAP_KEY_LENGTH_TOO_LONG
  - MAP_KEY_LENGTH_TOO_SHORT
  - MERCHANT_SUBSCRIPTION_NOT_FOUND
  - METHOD_NOT_ALLOWED
  - MISSING_REQUIRED_PARAMETER
  - NOT_ACCEPTABLE
  - NOT_FOUND
  - NOT_IMPLEMENTED
  - NO_FIELDS_SET
  - RATE_LIMITED
  - REQUEST_ENTITY_TOO_LARGE
  - REQUEST_TIMEOUT
  - SANDBOX_NOT_SUPPORTED
  - SERVICE_UNAVAILABLE
  - TOO_MANY_MAP_ENTRIES
  - UNAUTHORIZED
  - UNEXPECTED_VALUE
  - UNKNOWN_QUERY_PARAMETER
  - UNPROCESSABLE_ENTITY
  - UNSUPPORTED_MEDIA_TYPE
  - V1_ACCESS_TOKEN
  - V1_APPLICATION
  - VALUE_EMPTY
  - VALUE_REGEX_MISMATCH
  - VALUE_TOO_HIGH
  - VALUE_TOO_LONG
  - VALUE_TOO_LOW
  - VALUE_TOO_SHORT
servers:
- url: https://connect.squareup.com
paths:
  /mobile/authorization-code:
    post:
      tags:
      - MobileAuthorization
      summary: CreateMobileAuthorizationCode
      description: |-
        Generates code to authorize a mobile application to connect to a Square card reader

        Authorization codes are one-time-use and expire __60 minutes__ after being issued.

        __Important:__ The `Authorization` header you provide to this endpoint must have the following format:

        ```
        Authorization: Bearer ACCESS_TOKEN
        ```

        Replace `ACCESS_TOKEN` with a
        [valid production authorization credential](https://developer.squareup.com/docs/build-basics/access-tokens).
      externalDocs:
        description: Build with Mobile Authorization API
        url: https://developer.squareup.com/docs/mobile-authz/build-with-mobile-authz
      operationId: CreateMobileAuthorizationCode
      parameters: []
      requestBody:
        description: |-
          An object containing the fields to POST for the request.

          See the corresponding object definition for field details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMobileAuthorizationCodeRequest'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateMobileAuthorizationCodeResponse'
      security:
      - oauth2:
        - PAYMENTS_WRITE_IN_PERSON
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/GO/repos/square/browse
      x-proto-location: /oauth/protos/squareup/oauth/v1/api.proto
      x-proto-sha: 933b3a2bcf0d97135250f1654c43670d49e7ef30
  /oauth2/authorize:
    get:
      tags:
      - OAuth
      summary: Authorize
      description: "As part of a URL sent to a seller to authorize permissions for\
        \ \nthe developer, `Authorize` displays an authorization page and a \nlist\
        \ of requested permissions. This is not a callable API endpoint.\n\nThe completed\
        \ URL looks similar to the following example:\nhttps://connect.squareup.com/oauth2/authorize?client_id={YOUR_APP_ID}&scope=CUSTOMERS_WRITE+CUSTOMERS_READ&session=False&state=82201dd8d83d23cc8a48caf52b\n\
        \nThe seller can approve or deny the permissions. If approved,` Authorize`\
        \ \nreturns an `AuthorizeResponse` that is sent to the redirect URL and includes\
        \ \na state string and an authorization code. The code is used in the `ObtainToken`\
        \ \ncall to obtain an access token and a refresh token that the developer\
        \ uses \nto manage resources on behalf of the seller.\n\n__Important:__ The\
        \ `AuthorizeResponse` is sent to the redirect URL that you set on \nthe OAuth\
        \ page of your application in the Developer Dashboard.\n\nIf an error occurs\
        \ or the seller denies the request, `Authorize` returns an \nerror response\
        \ that includes `error` and `error_description` values. If the \nerror is\
        \ due to the seller denying the request, the error value is `access_denied`\
        \ \nand the error_description is `user_denied`."
      externalDocs:
        description: Create the Redirect URL and Square Authorization Page URL
        url: https://developer.squareup.com/docs/oauth-api/create-urls-for-square-authorization
      operationId: Authorize
      parameters:
      - name: client_id
        in: query
        description: "The Square-issued ID for your application, available from \n\
          the OAuth page for your application on the Developer Dashboard."
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: scope
        in: query
        description: |-
          A space-separated list of the permissions the application is
          requesting. Default: "`MERCHANT_PROFILE_READ PAYMENTS_READ SETTLEMENTS_READ BANK_ACCOUNTS_READ`"
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/OAuthPermission'
      - name: locale
        in: query
        description: |-
          The locale to present the permission request form in. Square detects
          the appropriate locale automatically. Only provide this value if the
          application can definitively determine the preferred locale.

          Currently supported values: `en-IE`, `en-US`, `en-CA`, `es-US`, `fr-CA`,
          `ja-JP`.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: session
        in: query
        description: |-
          If `false`, the user must log in to their Square account to
          view the Permission Request form, even if they already have a valid user
          session. This value has no effect in Sandbox.
          Default: `true`
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: false
      - name: state
        in: query
        description: |-
          When provided, `state` is passed along to the configured Redirect URL
          after the Permission Request form is submitted. You can include state and
          verify its value to help protect against cross-site request forgery.
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizeResponse'
      security: []
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/GO/repos/square/browse
      x-proto-location: /oauth/protos/squareup/oauth/v1/api.proto
      x-proto-sha: 933b3a2bcf0d97135250f1654c43670d49e7ef30
      x-visibility: DOC_ONLY
  /oauth2/clients/{client_id}/access-token/renew:
    post:
      tags:
      - OAuth
      summary: RenewToken
      description: |-
        `RenewToken` is deprecated. For information about refreshing OAuth access tokens, see
        [Migrate from Renew to Refresh OAuth Tokens](https://developer.squareup.com/docs/oauth-api/migrate-to-refresh-tokens).


        Renews an OAuth access token before it expires.

        OAuth access tokens besides your application's personal access token expire after __30 days__.
        You can also renew expired tokens within __15 days__ of their expiration.
        You cannot renew an access token that has been expired for more than 15 days.
        Instead, the associated user must re-complete the OAuth flow from the beginning.

        __Important:__ The `Authorization` header for this endpoint must have the
        following format:

        ```
        Authorization: Client APPLICATION_SECRET
        ```

        Replace `APPLICATION_SECRET` with the application secret on the Credentials
        page in the [developer dashboard](https://developer.squareup.com/apps).
      operationId: RenewToken
      parameters:
      - name: client_id
        in: path
        description: "Your application ID, available from the OAuth page for your\
          \ \napplication on the Developer Dashboard."
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-release-status: DEPRECATED
      requestBody:
        description: |-
          An object containing the fields to POST for the request.

          See the corresponding object definition for field details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RenewTokenRequest'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RenewTokenResponse'
      deprecated: true
      security:
      - oauth2ClientSecret: []
      x-release-status: DEPRECATED
      x-proto-repo: https://git.sqcorp.co/projects/GO/repos/square/browse
      x-proto-location: /oauth/protos/squareup/oauth/v1/api.proto
      x-proto-sha: 933b3a2bcf0d97135250f1654c43670d49e7ef30
      x-deprecation: {}
  /oauth2/revoke:
    post:
      tags:
      - OAuth
      summary: RevokeToken
      description: |-
        Revokes an access token generated with the OAuth flow.

        If an account has more than one OAuth access token for your application, this
        endpoint revokes all of them, regardless of which token you specify. When an
        OAuth access token is revoked, all of the active subscriptions associated
        with that OAuth token are canceled immediately.

        __Important:__ The `Authorization` header for this endpoint must have the
        following format:

        ```
        Authorization: Client APPLICATION_SECRET
        ```

        Replace `APPLICATION_SECRET` with the application secret on the OAuth
        page for your application on the Developer Dashboard.
      externalDocs:
        description: Refresh, Revoke, and Limit the Scope of OAuth Tokens
        url: https://developer.squareup.com/docs/oauth-api/refresh-revoke-limit-scope
      operationId: RevokeToken
      parameters: []
      requestBody:
        description: |-
          An object containing the fields to POST for the request.

          See the corresponding object definition for field details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RevokeTokenRequest'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevokeTokenResponse'
      security:
      - oauth2ClientSecret: []
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/GO/repos/square/browse
      x-proto-location: /oauth/protos/squareup/oauth/v1/api.proto
      x-proto-sha: 933b3a2bcf0d97135250f1654c43670d49e7ef30
  /oauth2/token:
    post:
      tags:
      - OAuth
      summary: ObtainToken
      description: "Returns an OAuth access token and a refresh token unless the \n\
        `short_lived` parameter is set to `true`, in which case the endpoint \nreturns\
        \ only an access token.\n\nThe `grant_type` parameter specifies the type of\
        \ OAuth request. If \n`grant_type` is `authorization_code`, you must include\
        \ the authorization \ncode you received when a seller granted you authorization.\
        \ If `grant_type` \nis `refresh_token`, you must provide a valid refresh token.\
        \ If you are using \nan old version of the Square APIs (prior to March 13,\
        \ 2019), `grant_type` \ncan be `migration_token` and you must provide a valid\
        \ migration token.\n\nYou can use the `scopes` parameter to limit the set\
        \ of permissions granted \nto the access token and refresh token. You can\
        \ use the `short_lived` parameter \nto create an access token that expires\
        \ in 24 hours.\n\n__Note:__ OAuth tokens should be encrypted and stored on\
        \ a secure server. \nApplication clients should never interact directly with\
        \ OAuth tokens."
      externalDocs:
        description: Receive Seller Authorization and Manage Seller OAuth Tokens
        url: https://developer.squareup.com/docs/oauth-api/receive-and-manage-tokens
      operationId: ObtainToken
      parameters: []
      requestBody:
        description: |-
          An object containing the fields to POST for the request.

          See the corresponding object definition for field details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ObtainTokenRequest'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObtainTokenResponse'
      security: []
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/GO/repos/square/browse
      x-proto-location: /oauth/protos/squareup/oauth/v1/api.proto
      x-proto-sha: 933b3a2bcf0d97135250f1654c43670d49e7ef30
  /v1/batch:
    post:
      tags:
      - V1Batching
      summary: V1SubmitBatch
      description: |-
        Bundle multiple requests to Connect V1 API endpoints as a single
        request.


        The __V1SubmitBatch__ endpoint does not require an access token
        in the request header. Instead, provide an `access_token` parameter for
        each request included in the batch.

        __V1SubmitBatch__ responds with an array that contains response objects for
        each of the batched requests. There is no guarantee of the order in
        which batched requests are performed.


        __IMPORTANT__

        You cannot include more than 30 requests in a single batch and
        recursive requests to __V1SubmitBatch__ are not allowed. In
        other words, none of the requests included in a batch can itself be a
        request to the __V1SubmitBatch__ endpoint.
      operationId: V1SubmitBatch
      parameters: []
      requestBody:
        description: The set of API actions to perform.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchRequest'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BatchResponse'
                x-content-type: application/json
      deprecated: true
      security: []
      x-release-status: DEPRECATED
      x-proto-repo: https://git.sqcorp.co/projects/XP/repos/square-public-apis/browse
      x-proto-location: /_public-v1/v1batch.proto
      x-proto-sha: 5b34397c182abc91c1beeefdfaf38cc403d3930e
      x-deprecation:
        deprecationDate: 2019-11-20
        retirementDate: 2020-11-18
        guideUrl: https://developer.squareup.com/docs/migrate-from-v1/general-guidance#v1batching
      x-visibility: DOC_ONLY
  /v1/{location_id}/payments:
    get:
      tags:
      - V1Transactions
      summary: ListPayments
      description: |-
        Provides summary information for all payments taken for a given
        Square account during a date range. Date ranges cannot exceed 1 year in
        length. See Date ranges for details of inclusive and exclusive dates.

        *Note**: Details for payments processed with Square Point of Sale while
        in offline mode may not be transmitted to Square for up to 72 hours.
        Offline payments have a `created_at` value that reflects the time the
        payment was originally processed, not the time it was subsequently
        transmitted to Square. Consequently, the ListPayments endpoint might
        list an offline payment chronologically between online payments that
        were seen in a previous request.
      operationId: ListPayments
      parameters:
      - name: location_id
        in: path
        description: The ID of the location to list payments for. If you specify me,
          this endpoint returns payments aggregated from all of the business's locations.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-release-status: DEPRECATED
      - name: order
        in: query
        description: The order in which payments are listed in the response.
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/SortOrder'
        x-release-status: DEPRECATED
      - name: begin_time
        in: query
        description: 'The beginning of the requested reporting period, in ISO 8601
          format. If this value is before January 1, 2013 (2013-01-01T00:00:00Z),
          this endpoint returns an error. Default value: The current time minus one
          year.'
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-release-status: DEPRECATED
      - name: end_time
        in: query
        description: 'The end of the requested reporting period, in ISO 8601 format.
          If this value is more than one year greater than begin_time, this endpoint
          returns an error. Default value: The current time.'
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-release-status: DEPRECATED
      - name: limit
        in: query
        description: The maximum number of payments to return in a single response.
          This value cannot exceed 200.
        required: false
        style: form
        explode: true
        schema:
          type: integer
        x-release-status: DEPRECATED
      - name: batch_token
        in: query
        description: |-
          A pagination cursor to retrieve the next set of results for your
          original query to the endpoint.
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-release-status: DEPRECATED
      - name: include_partial
        in: query
        description: Indicates whether or not to include partial payments in the response.
          Partial payments will have the tenders collected so far, but the itemizations
          will be empty until the payment is completed.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: false
        x-release-status: DEPRECATED
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/V1Payment'
                x-content-type: application/json
      deprecated: true
      security:
      - oauth2:
        - PAYMENTS_READ
      x-release-status: DEPRECATED
      x-proto-repo: https://git.sqcorp.co/projects/XP/repos/square-public-apis/browse
      x-proto-location: /_public-v1/v1transactions-payments.proto
      x-proto-sha: 5b34397c182abc91c1beeefdfaf38cc403d3930e
      x-deprecation:
        deprecationDate: 2021-05-13
  /v1/{location_id}/payments/{payment_id}:
    get:
      tags:
      - V1Transactions
      summary: RetrievePayment
      description: Provides comprehensive information for a single payment.
      operationId: RetrievePayment
      parameters:
      - name: location_id
        in: path
        description: The ID of the payment's associated location.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-release-status: DEPRECATED
      - name: payment_id
        in: path
        description: The Square-issued payment ID. payment_id comes from Payment objects
          returned by the List Payments endpoint, Settlement objects returned by the
          List Settlements endpoint, or Refund objects returned by the List Refunds
          endpoint.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-release-status: DEPRECATED
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V1Payment'
      deprecated: true
      security:
      - oauth2:
        - PAYMENTS_READ
      x-release-status: DEPRECATED
      x-proto-repo: https://git.sqcorp.co/projects/XP/repos/square-public-apis/browse
      x-proto-location: /_public-v1/v1transactions-payments.proto
      x-proto-sha: 5b34397c182abc91c1beeefdfaf38cc403d3930e
      x-deprecation:
        deprecationDate: 2021-05-13
  /v1/{location_id}/refunds:
    get:
      tags:
      - V1Transactions
      summary: ListRefunds
      description: Provides the details for all refunds initiated by a merchant or
        any of the merchant's mobile staff during a date range. Date ranges cannot
        exceed one year in length.
      operationId: ListRefunds
      parameters:
      - name: location_id
        in: path
        description: The ID of the location to list refunds for.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-release-status: DEPRECATED
      - name: order
        in: query
        description: The order in which payments are listed in the response.
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/SortOrder'
        x-release-status: DEPRECATED
      - name: begin_time
        in: query
        description: 'The beginning of the requested reporting period, in ISO 8601
          format. If this value is before January 1, 2013 (2013-01-01T00:00:00Z),
          this endpoint returns an error. Default value: The current time minus one
          year.'
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-release-status: DEPRECATED
      - name: end_time
        in: query
        description: 'The end of the requested reporting period, in ISO 8601 format.
          If this value is more than one year greater than begin_time, this endpoint
          returns an error. Default value: The current time.'
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-release-status: DEPRECATED
      - name: limit
        in: query
        description: 'The approximate number of refunds to return in a single response.
          Default: 100. Max: 200. Response may contain more results than the prescribed
          limit when refunds are made simultaneously to multiple tenders in a payment
          or when refunds are generated in an exchange to account for the value of
          returned goods.'
        required: false
        style: form
        explode: true
        schema:
          type: integer
        x-release-status: DEPRECATED
      - name: batch_token
        in: query
        description: |-
          A pagination cursor to retrieve the next set of results for your
          original query to the endpoint.
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-release-status: DEPRECATED
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/V1Refund'
                x-content-type: application/json
      deprecated: true
      security:
      - oauth2:
        - PAYMENTS_READ
      x-release-status: DEPRECATED
      x-proto-repo: https://git.sqcorp.co/projects/XP/repos/square-public-apis/browse
      x-proto-location: /_public-v1/v1transactions-refunds.proto
      x-proto-sha: 5b34397c182abc91c1beeefdfaf38cc403d3930e
      x-deprecation:
        deprecationDate: 2021-05-13
    post:
      tags:
      - V1Transactions
      summary: CreateRefund
      description: |-
        Issues a refund for a previously processed payment. You must issue
        a refund within 60 days of the associated payment.

        You cannot issue a partial refund for a split tender payment. You must
        instead issue a full or partial refund for a particular tender, by
        providing the applicable tender id to the V1CreateRefund endpoint.
        Issuing a full refund for a split tender payment refunds all tenders
        associated with the payment.

        Issuing a refund for a card payment is not reversible. For development
        purposes, you can create fake cash payments in Square Point of Sale and
        refund them.
      operationId: CreateRefund
      parameters:
      - name: location_id
        in: path
        description: The ID of the original payment's associated location.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-release-status: DEPRECATED
      requestBody:
        description: |-
          An object containing the fields to POST for the request.

          See the corresponding object definition for field details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V1CreateRefundRequest'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V1Refund'
      deprecated: true
      security:
      - oauth2:
        - PAYMENTS_WRITE
      x-release-status: DEPRECATED
      x-proto-repo: https://git.sqcorp.co/projects/XP/repos/square-public-apis/browse
      x-proto-location: /_public-v1/v1transactions-refunds.proto
      x-proto-sha: 5b34397c182abc91c1beeefdfaf38cc403d3930e
      x-deprecation:
        deprecationDate: 2021-05-13
  /v1/{location_id}/settlements:
    get:
      tags:
      - V1Transactions
      summary: ListSettlements
      description: |-
        Provides summary information for all deposits and withdrawals
        initiated by Square to a linked bank account during a date range. Date
        ranges cannot exceed one year in length.

        *Note**: the ListSettlements endpoint does not provide entry
        information.
      operationId: ListSettlements
      parameters:
      - name: location_id
        in: path
        description: The ID of the location to list settlements for. If you specify
          me, this endpoint returns settlements aggregated from all of the business's
          locations.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-release-status: DEPRECATED
      - name: order
        in: query
        description: The order in which settlements are listed in the response.
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/SortOrder'
        x-release-status: DEPRECATED
      - name: begin_time
        in: query
        description: 'The beginning of the requested reporting period, in ISO 8601
          format. If this value is before January 1, 2013 (2013-01-01T00:00:00Z),
          this endpoint returns an error. Default value: The current time minus one
          year.'
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-release-status: DEPRECATED
      - name: end_time
        in: query
        description: 'The end of the requested reporting period, in ISO 8601 format.
          If this value is more than one year greater than begin_time, this endpoint
          returns an error. Default value: The current time.'
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-release-status: DEPRECATED
      - name: limit
        in: query
        description: The maximum number of settlements to return in a single response.
          This value cannot exceed 200.
        required: false
        style: form
        explode: true
        schema:
          type: integer
        x-release-status: DEPRECATED
      - name: status
        in: query
        description: Provide this parameter to retrieve only settlements with a particular
          status (SENT or FAILED).
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/V1ListSettlementsRequestStatus'
        x-release-status: DEPRECATED
      - name: batch_token
        in: query
        description: |-
          A pagination cursor to retrieve the next set of results for your
          original query to the endpoint.
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-release-status: DEPRECATED
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/V1Settlement'
                x-content-type: application/json
      deprecated: true
      security:
      - oauth2:
        - SETTLEMENTS_READ
      x-release-status: DEPRECATED
      x-proto-repo: https://git.sqcorp.co/projects/XP/repos/square-public-apis/browse
      x-proto-location: /_public-v1/v1transactions-settlements.proto
      x-proto-sha: 5b34397c182abc91c1beeefdfaf38cc403d3930e
      x-deprecation:
        deprecationDate: 2021-05-13
  /v1/{location_id}/settlements/{settlement_id}:
    get:
      tags:
      - V1Transactions
      summary: RetrieveSettlement
      description: |-
        Provides comprehensive information for a single settlement.

        The returned `Settlement` objects include an `entries` field that lists
        the transactions that contribute to the settlement total. Most
        settlement entries correspond to a payment payout, but settlement
        entries are also generated for less common events, like refunds, manual
        adjustments, or chargeback holds.

        Square initiates its regular deposits as indicated in the
        [Deposit Options with Square](https://squareup.com/help/us/en/article/3807)
        help article. Details for a regular deposit are usually not available
        from Connect API endpoints before 10 p.m. PST the same day.

        Square does not know when an initiated settlement **completes**, only
        whether it has failed. A completed settlement is typically reflected in
        a bank account within 3 business days, but in exceptional cases it may
        take longer.
      operationId: RetrieveSettlement
      parameters:
      - name: location_id
        in: path
        description: The ID of the settlements's associated location.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-release-status: DEPRECATED
      - name: settlement_id
        in: path
        description: The settlement's Square-issued ID. You obtain this value from
          Settlement objects returned by the List Settlements endpoint.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-release-status: DEPRECATED
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V1Settlement'
      deprecated: true
      security:
      - oauth2:
        - SETTLEMENTS_READ
      x-release-status: DEPRECATED
      x-proto-repo: https://git.sqcorp.co/projects/XP/repos/square-public-apis/browse
      x-proto-location: /_public-v1/v1transactions-settlements.proto
      x-proto-sha: 5b34397c182abc91c1beeefdfaf38cc403d3930e
      x-deprecation:
        deprecationDate: 2021-05-13
  /v1/{location_id}/webhooks:
    get:
      tags:
      - V1Webhooks
      summary: ListWebhooks
      description: |-
        Lists which types of events trigger webhook notifications for a particular location.
        See the [V1 Webhooks API guide](https://developer.squareup.com/docs/webhooks-api/what-it-does-v1) for more information.
      operationId: ListWebhooks
      parameters:
      - name: location_id
        in: path
        description: The ID of the location to list webhook notification types for.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/V1WebhooksEvents'
                x-content-type: application/json
      security:
      - oauth2:
        - TIMECARDS_READ
        - PAYMENTS_READ
        - ITEMS_READ
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/XP/repos/square-public-apis/browse
      x-proto-location: /_public-v1/v1webhooks.proto
      x-proto-sha: 5b34397c182abc91c1beeefdfaf38cc403d3930e
      x-visibility: DOC_ONLY
    put:
      tags:
      - V1Webhooks
      summary: UpdateWebhooks
      description: |-
        Changes the webhook event subscriptions for a location.
        See the [V1 Webhooks API guide](https://developer.squareup.com/docs/webhooks-api/what-it-does-v1) for more information.
      operationId: UpdateWebhooks
      parameters:
      - name: location_id
        in: path
        description: The ID of the location to list webhook notification types for.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/V1WebhooksEvents'
                x-content-type: application/json
      security:
      - oauth2:
        - TIMECARDS_READ
        - PAYMENTS_READ
        - ITEMS_READ
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/XP/repos/square-public-apis/browse
      x-proto-location: /_public-v1/v1webhooks.proto
      x-proto-sha: 5b34397c182abc91c1beeefdfaf38cc403d3930e
      x-visibility: DOC_ONLY
  /v2/apple-pay/domains:
    post:
      tags:
      - ApplePay
      summary: RegisterDomain
      description: |-
        Activates a domain for use with Apple Pay on the Web and Square. A validation
        is performed on this domain by Apple to ensure that it is properly set up as
        an Apple Pay enabled domain.

        This endpoint provides an easy way for platform developers to bulk activate
        Apple Pay on the Web with Square for merchants using their platform.

        To learn more about Web Apple Pay, see
        [Add the Apple Pay on the Web Button](https://developer.squareup.com/docs/payment-form/add-digital-wallets/apple-pay).
      operationId: RegisterDomain
      parameters: []
      requestBody:
        description: |-
          An object containing the fields to POST for the request.

          See the corresponding object definition for field details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterDomainRequest'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterDomainResponse'
      security:
      - oauth2: []
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/GO/repos/square/browse
      x-proto-location: /payapi-wallets/protos/squareup/payapi_wallets/apple_pay_domain_service.proto
      x-proto-sha: 97806244325ab9fded53f6629e1303295c8d4db8
  /v2/bank-accounts:
    get:
      tags:
      - BankAccounts
      summary: ListBankAccounts
      description: Returns a list of [BankAccount](entity:BankAccount) objects linked
        to a Square account.
      externalDocs:
        description: Retrieve all bank accounts linked to a Square account
        url: https://developer.squareup.com/docs/bank-accounts-api#retrieve-all-bank-accounts-linked-to-a-square-account
      operationId: ListBankAccounts
      parameters:
      - name: cursor
        in: query
        description: "The pagination cursor returned by a previous call to this endpoint.\n\
          Use it in the next `ListBankAccounts` request to retrieve the next set \n\
          of results.\n\nSee the [Pagination](https://developer.squareup.com/docs/working-with-apis/pagination)\
          \ guide for more information."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: "Upper limit on the number of bank accounts to return in the\
          \ response. \nCurrently, 1000 is the largest supported limit. You can specify\
          \ a limit \nof up to 1000 bank accounts. This is also the default limit."
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: location_id
        in: query
        description: "Location ID. You can specify this optional filter \nto retrieve\
          \ only the linked bank accounts belonging to a specific location."
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListBankAccountsResponse'
      security:
      - oauth2:
        - BANK_ACCOUNTS_READ
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/SQ/repos/java/browse
      x-proto-location: /payments/marketplaces-api/src/main/proto/squareup/payments/external/bank_account_service.proto
      x-proto-sha: 9131b2c7156382fe9f16839668e39bfecda7f5e9
      x-namespace: marketplaces
  /v2/bank-accounts/by-v1-id/{v1_bank_account_id}:
    get:
      tags:
      - BankAccounts
      summary: GetBankAccountByV1Id
      description: Returns details of a [BankAccount](entity:BankAccount) identified
        by V1 bank account ID.
      externalDocs:
        description: Retrieve a bank account by using a V1 ID
        url: https://developer.squareup.com/docs/bank-accounts-api#retrieve-a-bank-account-by-using-an-id-issued-by-the-v1-bank-accounts-api
      operationId: GetBankAccountByV1Id
      parameters:
      - name: v1_bank_account_id
        in: path
        description: "Connect V1 ID of the desired `BankAccount`. For more information,\
          \ see \n[Retrieve a bank account by using an ID issued by V1 Bank Accounts\
          \ API](https://developer.squareup.com/docs/bank-accounts-api#retrieve-a-bank-account-by-using-an-id-issued-by-v1-bank-accounts-api)."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBankAccountByV1IdResponse'
      security:
      - oauth2:
        - BANK_ACCOUNTS_READ
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/SQ/repos/java/browse
      x-proto-location: /payments/marketplaces-api/src/main/proto/squareup/payments/external/bank_account_service.proto
      x-proto-sha: 9131b2c7156382fe9f16839668e39bfecda7f5e9
      x-namespace: marketplaces
  /v2/bank-accounts/{bank_account_id}:
    get:
      tags:
      - BankAccounts
      summary: GetBankAccount
      description: |-
        Returns details of a [BankAccount](entity:BankAccount)
        linked to a Square account.
      externalDocs:
        description: Retrieve a bank account by ID
        url: https://developer.squareup.com/docs/bank-accounts-api#retrieve-a-bank-account-by-id
      operationId: GetBankAccount
      parameters:
      - name: bank_account_id
        in: path
        description: Square-issued ID of the desired `BankAccount`.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBankAccountResponse'
      security:
      - oauth2:
        - BANK_ACCOUNTS_READ
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/SQ/repos/java/browse
      x-proto-location: /payments/marketplaces-api/src/main/proto/squareup/payments/external/bank_account_service.proto
      x-proto-sha: 9131b2c7156382fe9f16839668e39bfecda7f5e9
      x-namespace: marketplaces
  /v2/bookings:
    post:
      tags:
      - Bookings
      summary: CreateBooking
      description: Creates a booking.
      operationId: CreateBooking
      parameters: []
      requestBody:
        description: |-
          An object containing the fields to POST for the request.

          See the corresponding object definition for field details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBookingRequest'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateBookingResponse'
      security:
      - oauth2:
        - APPOINTMENTS_WRITE
      x-release-status: BETA
      x-proto-repo: appointments
      x-proto-location: /protos/squareup/appointments/api/public.proto
      x-proto-sha: cd7da1dee4277ae4e9a5fe401239a6ad2b2c61c2
      x-example-scenarios:
        scenarios:
        - name: Create a booking
          bodyParams:
            booking:
              customer_id: EX2QSVGTZN4K1E5QE1CBFNVQ8M
              start_at: 2020-11-26T13:00:00Z
              location_id: LEQHH0YY8B42M
              appointment_segments:
              - duration_minutes: 60
                team_member_id: TMXUrsBWWcHTt79t
                service_variation_id: RU3PBTZTK7DXZDQFCJHOK2MC
                service_variation_version: 1599775456731
          response:
            booking:
              id: zkras0xv0xwswx
              version: 0
              status: ACCEPTED
              created_at: 2020-10-28T15:47:41Z
              updated_at: 2020-10-28T15:47:41Z
              location_id: LEQHH0YY8B42M
              customer_id: EX2QSVGTZN4K1E5QE1CBFNVQ8M
              customer_note: ""
              seller_note: ""
              start_at: 2020-11-26T13:00:00Z
              appointment_segments:
              - duration_minutes: 60
                service_variation_id: RU3PBTZTK7DXZDQFCJHOK2MC
                team_member_id: TMXUrsBWWcHTt79t
                service_variation_version: 1599775456731
            errors: []
  /v2/bookings/availability/search:
    post:
      tags:
      - Bookings
      summary: SearchAvailability
      description: Searches for availabilities for booking.
      operationId: SearchAvailability
      parameters: []
      requestBody:
        description: |-
          An object containing the fields to POST for the request.

          See the corresponding object definition for field details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchAvailabilityRequest'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchAvailabilityResponse'
      security:
      - oauth2:
        - APPOINTMENTS_READ
      x-release-status: BETA
      x-proto-repo: appointments
      x-proto-location: /protos/squareup/appointments/api/public.proto
      x-proto-sha: cd7da1dee4277ae4e9a5fe401239a6ad2b2c61c2
      x-example-scenarios:
        scenarios:
        - name: Search for availability
          bodyParams:
            query:
              filter:
                start_at_range:
                  start_at: 2020-11-26T13:00:00Z
                  end_at: 2020-11-27T13:00:00Z
                location_id: LEQHH0YY8B42M
                segment_filters:
                - service_variation_id: RU3PBTZTK7DXZDQFCJHOK2MC
                  team_member_id_filter:
                    any:
                    - TMXUrsBWWcHTt79t
                    - TMaJcbiRqPIGZuS9
          response:
            availabilities:
            - start_at: 2020-11-26T13:00:00Z
              location_id: LEQHH0YY8B42M
              appointment_segments:
              - duration_minutes: 60
                team_member_id: TMXUrsBWWcHTt79t
                service_variation_id: RU3PBTZTK7DXZDQFCJHOK2MC
                service_variation_version: 1599775456731
            - start_at: 2020-11-26T13:30:00Z
              location_id: LEQHH0YY8B42M
              appointment_segments:
              - duration_minutes: 60
                team_member_id: TMXUrsBWWcHTt79t
                service_variation_id: RU3PBTZTK7DXZDQFCJHOK2MC
                service_variation_version: 1599775456731
            - start_at: 2020-11-26T14:00:00Z
              location_id: LEQHH0YY8B42M
              appointment_segments:
              - duration_minutes: 60
                team_member_id: TMaJcbiRqPIGZuS9
                service_variation_id: RU3PBTZTK7DXZDQFCJHOK2MC
                service_variation_version: 1599775456731
            - start_at: 2020-11-26T14:30:00Z
              location_id: LEQHH0YY8B42M
              appointment_segments:
              - duration_minutes: 60
                team_member_id: TMaJcbiRqPIGZuS9
                service_variation_id: RU3PBTZTK7DXZDQFCJHOK2MC
                service_variation_version: 1599775456731
            - start_at: 2020-11-26T15:00:00Z
              location_id: LEQHH0YY8B42M
              appointment_segments:
              - duration_minutes: 60
                team_member_id: TMaJcbiRqPIGZuS9
                service_variation_id: RU3PBTZTK7DXZDQFCJHOK2MC
                service_variation_version: 1599775456731
            - start_at: 2020-11-26T15:30:00Z
              location_id: LEQHH0YY8B42M
              appointment_segments:
              - duration_minutes: 60
                team_member_id: TMaJcbiRqPIGZuS9
                service_variation_id: RU3PBTZTK7DXZDQFCJHOK2MC
                service_variation_version: 1599775456731
            - start_at: 2020-11-26T16:00:00Z
              location_id: LEQHH0YY8B42M
              appointment_segments:
              - duration_minutes: 60
                team_member_id: TMaJcbiRqPIGZuS9
                service_variation_id: RU3PBTZTK7DXZDQFCJHOK2MC
                service_variation_version: 1599775456731
            - start_at: 2020-11-27T09:00:00Z
              location_id: LEQHH0YY8B42M
              appointment_segments:
              - duration_minutes: 60
                team_member_id: TMXUrsBWWcHTt79t
                service_variation_id: RU3PBTZTK7DXZDQFCJHOK2MC
                service_variation_version: 1599775456731
            - start_at: 2020-11-27T09:30:00Z
              location_id: LEQHH0YY8B42M
              appointment_segments:
              - duration_minutes: 60
                team_member_id: TMaJcbiRqPIGZuS9
                service_variation_id: RU3PBTZTK7DXZDQFCJHOK2MC
                service_variation_version: 1599775456731
            - start_at: 2020-11-27T10:00:00Z
              location_id: LEQHH0YY8B42M
              appointment_segments:
              - duration_minutes: 60
                team_member_id: TMXUrsBWWcHTt79t
                service_variation_id: RU3PBTZTK7DXZDQFCJHOK2MC
                service_variation_version: 1599775456731
            - start_at: 2020-11-27T10:30:00Z
              location_id: LEQHH0YY8B42M
              appointment_segments:
              - duration_minutes: 60
                team_member_id: TMXUrsBWWcHTt79t
                service_variation_id: RU3PBTZTK7DXZDQFCJHOK2MC
                service_variation_version: 1599775456731
            - start_at: 2020-11-27T11:00:00Z
              location_id: LEQHH0YY8B42M
              appointment_segments:
              - duration_minutes: 60
                team_member_id: TMXUrsBWWcHTt79t
                service_variation_id: RU3PBTZTK7DXZDQFCJHOK2MC
                service_variation_version: 1599775456731
            - start_at: 2020-11-27T11:30:00Z
              location_id: LEQHH0YY8B42M
              appointment_segments:
              - duration_minutes: 60
                team_member_id: TMaJcbiRqPIGZuS9
                service_variation_id: RU3PBTZTK7DXZDQFCJHOK2MC
                service_variation_version: 1599775456731
            - start_at: 2020-11-27T12:00:00Z
              location_id: LEQHH0YY8B42M
              appointment_segments:
              - duration_minutes: 60
                team_member_id: TMaJcbiRqPIGZuS9
                service_variation_id: RU3PBTZTK7DXZDQFCJHOK2MC
                service_variation_version: 1599775456731
            - start_at: 2020-11-27T12:30:00Z
              location_id: LEQHH0YY8B42M
              appointment_segments:
              - duration_minutes: 60
                team_member_id: TMaJcbiRqPIGZuS9
                service_variation_id: RU3PBTZTK7DXZDQFCJHOK2MC
                service_variation_version: 1599775456731
            - start_at: 2020-11-27T13:00:00Z
              location_id: LEQHH0YY8B42M
              appointment_segments:
              - duration_minutes: 60
                team_member_id: TMXUrsBWWcHTt79t
                service_variation_id: RU3PBTZTK7DXZDQFCJHOK2MC
                service_variation_version: 1599775456731
            - start_at: 2020-11-27T13:30:00Z
              location_id: LEQHH0YY8B42M
              appointment_segments:
              - duration_minutes: 60
                team_member_id: TMXUrsBWWcHTt79t
                service_variation_id: RU3PBTZTK7DXZDQFCJHOK2MC
                service_variation_version: 1599775456731
            - start_at: 2020-11-27T14:00:00Z
              location_id: LEQHH0YY8B42M
              appointment_segments:
              - duration_minutes: 60
                team_member_id: TMaJcbiRqPIGZuS9
                service_variation_id: RU3PBTZTK7DXZDQFCJHOK2MC
                service_variation_version: 1599775456731
            errors: []
  /v2/bookings/business-booking-profile:
    get:
      tags:
      - Bookings
      summary: RetrieveBusinessBookingProfile
      description: Retrieves a seller's booking profile.
      operationId: RetrieveBusinessBookingProfile
      parameters: []
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveBusinessBookingProfileResponse'
      security:
      - oauth2:
        - APPOINTMENTS_BUSINESS_SETTINGS_READ
      x-release-status: BETA
      x-proto-repo: appointments
      x-proto-location: /protos/squareup/appointments/api/public.proto
      x-proto-sha: cd7da1dee4277ae4e9a5fe401239a6ad2b2c61c2
      x-example-scenarios:
        scenarios:
        - name: Retrieve the business's booking profile
          response:
            business_booking_profile:
              seller_id: MLJQYZZRM0D3Y
              created_at: 2020-09-10T21:40:38Z
              booking_enabled: true
              customer_timezone_choice: CUSTOMER_CHOICE
              booking_policy: ACCEPT_ALL
              allow_user_cancel: true
              business_appointment_settings:
                location_types:
                - BUSINESS_LOCATION
                alignment_time: HALF_HOURLY
                min_booking_lead_time_seconds: 0
                max_booking_lead_time_seconds: 31536000
                any_team_member_booking_enabled: true
                multiple_service_booking_enabled: true
                cancellation_fee_money:
                  currency: USD
                cancellation_policy: CUSTOM_POLICY
                skip_booking_flow_staff_selection: false
            errors: []
  /v2/bookings/team-member-booking-profiles:
    get:
      tags:
      - Bookings
      summary: ListTeamMemberBookingProfiles
      description: Lists booking profiles for team members.
      operationId: ListTeamMemberBookingProfiles
      parameters:
      - name: bookable_only
        in: query
        description: Indicates whether to include only bookable team members in the
          returned result (`true`) or not (`false`).
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: false
        x-release-status: BETA
      - name: limit
        in: query
        description: The maximum number of results to return.
        required: false
        style: form
        explode: true
        schema:
          type: integer
        x-release-status: BETA
      - name: cursor
        in: query
        description: The cursor for paginating through the results.
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-release-status: BETA
      - name: location_id
        in: query
        description: Indicates whether to include only team members enabled at the
          given location in the returned result.
        required: false
        style: form
        explode: true
        schema:
          type: string
        x-release-status: BETA
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTeamMemberBookingProfilesResponse'
      security:
      - oauth2:
        - APPOINTMENTS_BUSINESS_SETTINGS_READ
      x-release-status: BETA
      x-proto-repo: appointments
      x-proto-location: /protos/squareup/appointments/api/public.proto
      x-proto-sha: cd7da1dee4277ae4e9a5fe401239a6ad2b2c61c2
      x-example-scenarios:
        scenarios:
        - name: List team member booking profiles
          response:
            team_member_booking_profiles:
            - team_member_id: TMXUrsBWWcHTt79t
              display_name: Sandbox Seller
              is_bookable: true
            - team_member_id: TMaJcbiRqPIGZuS9
              display_name: Sandbox Staff
              is_bookable: true
            errors: []
  /v2/bookings/team-member-booking-profiles/{team_member_id}:
    get:
      tags:
      - Bookings
      summary: RetrieveTeamMemberBookingProfile
      description: Retrieves a team member's booking profile.
      operationId: RetrieveTeamMemberBookingProfile
      parameters:
      - name: team_member_id
        in: path
        description: The ID of the team member to retrieve.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-release-status: BETA
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveTeamMemberBookingProfileResponse'
      security:
      - oauth2:
        - APPOINTMENTS_BUSINESS_SETTINGS_READ
      x-release-status: BETA
      x-proto-repo: appointments
      x-proto-location: /protos/squareup/appointments/api/public.proto
      x-proto-sha: cd7da1dee4277ae4e9a5fe401239a6ad2b2c61c2
      x-example-scenarios:
        scenarios:
        - name: Retrieve a booking
          pathParameters:
            team_member_id: TMaJcbiRqPIGZuS9
          response:
            team_member_booking_profile:
              team_member_id: TMaJcbiRqPIGZuS9
              display_name: Sandbox Staff
              is_bookable: true
            errors: []
  /v2/bookings/{booking_id}:
    get:
      tags:
      - Bookings
      summary: RetrieveBooking
      description: Retrieves a booking.
      operationId: RetrieveBooking
      parameters:
      - name: booking_id
        in: path
        description: The ID of the [Booking](entity:Booking) object representing the
          to-be-retrieved booking.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-release-status: BETA
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveBookingResponse'
      security:
      - oauth2:
        - APPOINTMENTS_READ
      x-release-status: BETA
      x-proto-repo: appointments
      x-proto-location: /protos/squareup/appointments/api/public.proto
      x-proto-sha: cd7da1dee4277ae4e9a5fe401239a6ad2b2c61c2
      x-example-scenarios:
        scenarios:
        - name: Retrieve a booking
          pathParameters:
            booking_id: zkras0xv0xwswx
          response:
            booking:
              id: zkras0xv0xwswx
              version: 1
              status: ACCEPTED
              created_at: 2020-10-28T15:47:41Z
              updated_at: 2020-10-28T15:49:25Z
              location_id: LEQHH0YY8B42M
              customer_id: EX2QSVGTZN4K1E5QE1CBFNVQ8M
              customer_note: ""
              seller_note: ""
              start_at: 2020-11-26T13:00:00Z
              appointment_segments:
              - duration_minutes: 60
                service_variation_id: RU3PBTZTK7DXZDQFCJHOK2MC
                team_member_id: TMXUrsBWWcHTt79t
                service_variation_version: 1599775456731
            errors: []
    put:
      tags:
      - Bookings
      summary: UpdateBooking
      description: Updates a booking.
      operationId: UpdateBooking
      parameters:
      - name: booking_id
        in: path
        description: The ID of the [Booking](entity:Booking) object representing the
          to-be-updated booking.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-release-status: BETA
      requestBody:
        description: |-
          An object containing the fields to POST for the request.

          See the corresponding object definition for field details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBookingRequest'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateBookingResponse'
      security:
      - oauth2:
        - APPOINTMENTS_WRITE
      x-release-status: BETA
      x-proto-repo: appointments
      x-proto-location: /protos/squareup/appointments/api/public.proto
      x-proto-sha: cd7da1dee4277ae4e9a5fe401239a6ad2b2c61c2
      x-example-scenarios:
        scenarios:
        - name: Update a booking
          pathParameters:
            booking_id: zkras0xv0xwswx
          bodyParams:
            booking:
              version: 1
              customer_note: I would like to sit near the window please
          response:
            booking:
              id: zkras0xv0xwswx
              version: 2
              status: ACCEPTED
              created_at: 2020-10-28T15:47:41Z
              updated_at: 2020-10-28T15:49:25Z
              location_id: LEQHH0YY8B42M
              customer_id: EX2QSVGTZN4K1E5QE1CBFNVQ8M
              customer_note: I would like to sit near the window please
              seller_note: ""
              start_at: 2020-11-26T13:00:00Z
              appointment_segments:
              - duration_minutes: 60
                service_variation_id: RU3PBTZTK7DXZDQFCJHOK2MC
                team_member_id: TMXUrsBWWcHTt79t
                service_variation_version: 1599775456731
            errors: []
  /v2/bookings/{booking_id}/cancel:
    post:
      tags:
      - Bookings
      summary: CancelBooking
      description: Cancels an existing booking.
      operationId: CancelBooking
      parameters:
      - name: booking_id
        in: path
        description: The ID of the [Booking](entity:Booking) object representing the
          to-be-cancelled booking.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-release-status: BETA
      requestBody:
        description: |-
          An object containing the fields to POST for the request.

          See the corresponding object definition for field details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelBookingRequest'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelBookingResponse'
      security:
      - oauth2:
        - APPOINTMENTS_WRITE
      x-release-status: BETA
      x-proto-repo: appointments
      x-proto-location: /protos/squareup/appointments/api/public.proto
      x-proto-sha: cd7da1dee4277ae4e9a5fe401239a6ad2b2c61c2
      x-example-scenarios:
        scenarios:
        - name: Cancel a booking
          pathParameters:
            booking_id: zkras0xv0xwswx
          bodyParams:
            booking_version: 1
          response:
            booking:
              id: zkras0xv0xwswx
              version: 2
              status: CANCELLED_BY_CUSTOMER
              created_at: 2020-10-28T15:47:41Z
              updated_at: 2020-10-28T15:49:25Z
              location_id: LEQHH0YY8B42M
              customer_id: EX2QSVGTZN4K1E5QE1CBFNVQ8M
              customer_note: ""
              seller_note: ""
              start_at: 2020-11-26T13:00:00Z
              appointment_segments:
              - duration_minutes: 60
                service_variation_id: RU3PBTZTK7DXZDQFCJHOK2MC
                team_member_id: TMXUrsBWWcHTt79t
                service_variation_version: 1599775456731
            errors: []
  /v2/cards:
    get:
      tags:
      - Cards
      summary: ListCards
      description: |-
        Retrieves a list of cards owned by the account making the request.
        A max of 25 cards will be returned.
      operationId: ListCards
      parameters:
      - name: cursor
        in: query
        description: |-
          A pagination cursor returned by a previous call to this endpoint.
          Provide this to retrieve the next set of results for your original query.

          See [Pagination](https://developer.squareup.com/docs/basics/api101/pagination) for more information.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: customer_id
        in: query
        description: |-
          Limit results to cards associated with the customer supplied.
          By default, all cards owned by the merchant are returned.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: include_disabled
        in: query
        description: |-
          Includes disabled cards.
          By default, all enabled cards owned by the merchant are returned.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: false
      - name: reference_id
        in: query
        description: Limit results to cards associated with the reference_id supplied.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: sort_order
        in: query
        description: |-
          Sorts the returned list by when the card was created with the specified order.
          This field defaults to ASC.
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/SortOrder'
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCardsResponse'
      security:
      - oauth2:
        - PAYMENTS_READ
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/GO/repos/square/browse
      x-proto-location: /cards-api/protos/squareup/cards/api/cards_store_service.proto
      x-proto-sha: c0f44fae5809caaf71fe83a1271cf188cc4c0856
    post:
      tags:
      - Cards
      summary: CreateCard
      description: Adds a card on file to an existing merchant.
      operationId: CreateCard
      parameters: []
      requestBody:
        description: |-
          An object containing the fields to POST for the request.

          See the corresponding object definition for field details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCardRequest'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCardResponse'
      security:
      - oauth2:
        - PAYMENTS_WRITE
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/GO/repos/square/browse
      x-proto-location: /cards-api/protos/squareup/cards/api/cards_store_service.proto
      x-proto-sha: c0f44fae5809caaf71fe83a1271cf188cc4c0856
      x-endpoint-errors:
      - error-code: CARD_PROCESSING_NOT_ENABLED
      - error-code: CUSTOMER_NOT_FOUND
      - error-code: SOURCE_EXPIRED
      - error-code: SOURCE_USED
      - error-code: INVALID_CARD_DATA
  /v2/cards/{card_id}:
    get:
      tags:
      - Cards
      summary: RetrieveCard
      description: Retrieves details for a specific Card.
      operationId: RetrieveCard
      parameters:
      - name: card_id
        in: path
        description: Unique ID for the desired Card.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveCardResponse'
      security:
      - oauth2:
        - PAYMENTS_READ
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/GO/repos/square/browse
      x-proto-location: /cards-api/protos/squareup/cards/api/cards_store_service.proto
      x-proto-sha: c0f44fae5809caaf71fe83a1271cf188cc4c0856
      x-endpoint-errors:
      - error-code: NOT_FOUND
  /v2/cards/{card_id}/disable:
    post:
      tags:
      - Cards
      summary: DisableCard
      description: |-
        Disables the card, preventing any further updates or charges.
        Disabling an already disabled card is allowed but has no effect.
      operationId: DisableCard
      parameters:
      - name: card_id
        in: path
        description: Unique ID for the desired Card.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: |-
          An object containing the fields to POST for the request.

          See the corresponding object definition for field details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DisableCardRequest'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisableCardResponse'
      security:
      - oauth2:
        - PAYMENTS_WRITE
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/GO/repos/square/browse
      x-proto-location: /cards-api/protos/squareup/cards/api/cards_store_service.proto
      x-proto-sha: c0f44fae5809caaf71fe83a1271cf188cc4c0856
      x-endpoint-errors:
      - error-code: NOT_FOUND
  /v2/cash-drawers/shifts:
    get:
      tags:
      - CashDrawers
      summary: ListCashDrawerShifts
      description: |-
        Provides the details for all of the cash drawer shifts for a location
        in a date range.
      externalDocs:
        description: List Cash Drawer Shifts
        url: https://developer.squareup.com/docs/cashdrawershift-api/reporting#list-cash-drawer-shifts
      operationId: ListCashDrawerShifts
      parameters:
      - name: location_id
        in: query
        description: The ID of the location to query for a list of cash drawer shifts.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: sort_order
        in: query
        description: |-
          The order in which cash drawer shifts are listed in the response,
          based on their opened_at field. Default value: ASC
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/SortOrder'
      - name: begin_time
        in: query
        description: The inclusive start time of the query on opened_at, in ISO 8601
          format.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: end_time
        in: query
        description: The exclusive end date of the query on opened_at, in ISO 8601
          format.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: |-
          Number of cash drawer shift events in a page of results (200 by
          default, 1000 max).
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: cursor
        in: query
        description: Opaque cursor for fetching the next page of results.
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCashDrawerShiftsResponse'
      security:
      - oauth2:
        - CASH_DRAWER_READ
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/SQ/repos/java/browse
      x-proto-location: /cashdrawers/cashdrawers-proto/src/main/proto/squareup/cashdrawers/api/v2/connect/service.proto
      x-proto-sha: 06291dbd5e7115613debe29fc712a6c8b9bd195e
  /v2/cash-drawers/shifts/{shift_id}:
    get:
      tags:
      - CashDrawers
      summary: RetrieveCashDrawerShift
      description: |-
        Provides the summary details for a single cash drawer shift. See
        [ListCashDrawerShiftEvents](api-endpoint:CashDrawers-ListCashDrawerShiftEvents) for a list of cash drawer shift events.
      externalDocs:
        description: Retrieve a Cash Drawer Shift
        url: https://developer.squareup.com/docs/cashdrawershift-api/reporting#retrieve-a-cash-drawer-shift
      operationId: RetrieveCashDrawerShift
      parameters:
      - name: location_id
        in: query
        description: The ID of the location to retrieve cash drawer shifts from.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: shift_id
        in: path
        description: The shift ID.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveCashDrawerShiftResponse'
      security:
      - oauth2:
        - CASH_DRAWER_READ
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/SQ/repos/java/browse
      x-proto-location: /cashdrawers/cashdrawers-proto/src/main/proto/squareup/cashdrawers/api/v2/connect/service.proto
      x-proto-sha: 06291dbd5e7115613debe29fc712a6c8b9bd195e
  /v2/cash-drawers/shifts/{shift_id}/events:
    get:
      tags:
      - CashDrawers
      summary: ListCashDrawerShiftEvents
      description: Provides a paginated list of events for a single cash drawer shift.
      externalDocs:
        description: List Cash Drawer Shift Events
        url: https://developer.squareup.com/docs/cashdrawershift-api/reporting#list-cash-drawer-shift-events
      operationId: ListCashDrawerShiftEvents
      parameters:
      - name: location_id
        in: query
        description: The ID of the location to list cash drawer shifts for.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: shift_id
        in: path
        description: The shift ID.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: limit
        in: query
        description: |-
          Number of resources to be returned in a page of results (200 by
          default, 1000 max).
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: cursor
        in: query
        description: Opaque cursor for fetching the next page of results.
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCashDrawerShiftEventsResponse'
      security:
      - oauth2:
        - CASH_DRAWER_READ
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/SQ/repos/java/browse
      x-proto-location: /cashdrawers/cashdrawers-proto/src/main/proto/squareup/cashdrawers/api/v2/connect/service.proto
      x-proto-sha: 06291dbd5e7115613debe29fc712a6c8b9bd195e
  /v2/catalog/batch-delete:
    post:
      tags:
      - Catalog
      summary: BatchDeleteCatalogObjects
      description: |-
        Deletes a set of [CatalogItem](entity:CatalogItem)s based on the
        provided list of target IDs and returns a set of successfully deleted IDs in
        the response. Deletion is a cascading event such that all children of the
        targeted object are also deleted. For example, deleting a CatalogItem will
        also delete all of its [CatalogItemVariation](entity:CatalogItemVariation)
        children.

        `BatchDeleteCatalogObjects` succeeds even if only a portion of the targeted
        IDs can be deleted. The response will only include IDs that were
        actually deleted.
      operationId: BatchDeleteCatalogObjects
      parameters: []
      requestBody:
        description: |-
          An object containing the fields to POST for the request.

          See the corresponding object definition for field details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchDeleteCatalogObjectsRequest'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchDeleteCatalogObjectsResponse'
      security:
      - oauth2:
        - ITEMS_WRITE
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/GO/repos/square/browse
      x-proto-location: /xp/connect-public-protos/protos/squareup/connect/v2/catalog/service.proto
      x-proto-sha: 7564f2195a5bc06364dc54c0b78bf8919a1b9f8d
      x-example-scenarios:
        scenarios:
        - name: Delete multiple catalog objects
          bodyParameters:
            object_ids:
            - W62UWFY35CWMYGVWK6TWJDNI
            - AA27W3M2GGTF3H6AVPNB77CK
          response:
            deleted_object_ids:
            - W62UWFY35CWMYGVWK6TWJDNI
            - AA27W3M2GGTF3H6AVPNB77CK
            deleted_at: 2016-11-16T22:25:24.878Z
  /v2/catalog/batch-retrieve:
    post:
      tags:
      - Catalog
      summary: BatchRetrieveCatalogObjects
      description: |-
        Returns a set of objects based on the provided ID.
        Each [CatalogItem](entity:CatalogItem) returned in the set includes all of its
        child information including: all of its
        [CatalogItemVariation](entity:CatalogItemVariation) objects, references to
        its [CatalogModifierList](entity:CatalogModifierList) objects, and the ids of
        any [CatalogTax](entity:CatalogTax) objects that apply to it.
      operationId: BatchRetrieveCatalogObjects
      parameters: []
      requestBody:
        description: |-
          An object containing the fields to POST for the request.

          See the corresponding object definition for field details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchRetrieveCatalogObjectsRequest'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchRetrieveCatalogObjectsResponse'
      security:
      - oauth2:
        - ITEMS_READ
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/GO/repos/square/browse
      x-proto-location: /xp/connect-public-protos/protos/squareup/connect/v2/catalog/service.proto
      x-proto-sha: 7564f2195a5bc06364dc54c0b78bf8919a1b9f8d
      x-example-scenarios:
        scenarios:
        - name: Retrieve multiple catalog objects
          request_body:
            object_ids:
            - W62UWFY35CWMYGVWK6TWJDNI
            - AA27W3M2GGTF3H6AVPNB77CK
            include_related_objects: true
          response:
            objects:
            - type: ITEM
              id: W62UWFY35CWMYGVWK6TWJDNI
              updated_at: 2016-11-16T22:25:24.878Z
              version: 1479335124878
              is_deleted: false
              present_at_all_locations: true
              item_data:
                name: Tea
                description: Hot Leaf Juice
                category_id: BJNQCF2FJ6S6UIDT65ABHLRX
                tax_ids:
                - HURXQOOAIC4IZSI2BEXQRYFY
                variations:
                - type: ITEM_VARIATION
                  id: 2TZFAOHWGG7PAK2QEXWYPZSP
                  updated_at: 2016-11-16T22:25:24.878Z
                  version: 1479335124878
                  is_deleted: false
                  present_at_all_locations: true
                  item_variation_data:
                    item_id: W62UWFY35CWMYGVWK6TWJDNI
                    name: Mug
                    ordinal: 0
                    pricing_type: FIXED_PRICING
                    price_money:
                      amount: 150
                      currency: USD
            - type: ITEM
              id: AA27W3M2GGTF3H6AVPNB77CK
              updated_at: 2016-11-16T22:25:24.878Z
              version: 1479335124878
              is_deleted: false
              present_at_all_locations: true
              item_data:
                name: Coffee
                description: Hot Bean Juice
                category_id: BJNQCF2FJ6S6UIDT65ABHLRX
                tax_ids:
                - HURXQOOAIC4IZSI2BEXQRYFY
                variations:
                - type: ITEM_VARIATION
                  id: LBTYIHNHU52WOIHWT7SNRIYH
                  updated_at: 2016-11-16T22:25:24.878Z
                  version: 1479335124878
                  is_deleted: false
                  present_at_all_locations: true
                  item_variation_data:
                    item_id: AA27W3M2GGTF3H6AVPNB77CK
                    name: Regular
                    ordinal: 0
                    pricing_type: FIXED_PRICING
                    price_money:
                      amount: 250
                      currency: USD
                - type: ITEM_VARIATION
                  id: PKYIC7HGGKW5CYVSCVDEIMHY
                  updated_at: 2016-11-16T22:25:24.878Z
                  version: 1479335124878
                  is_deleted: false
                  present_at_all_locations: true
                  item_variation_data:
                    item_id: AA27W3M2GGTF3H6AVPNB77CK
                    name: Large
                    ordinal: 1
                    pricing_type: FIXED_PRICING
                    price_money:
                      amount: 350
                      currency: USD
            related_objects:
            - type: CATEGORY
              id: BJNQCF2FJ6S6UIDT65ABHLRX
              updated_at: 2016-11-16T22:25:24.878Z
              version: 1479335124878
              is_deleted: false
              present_at_all_locations: true
              category_data:
                name: Beverages
            - type: TAX
              id: HURXQOOAIC4IZSI2BEXQRYFY
              updated_at: 2016-11-16T22:25:24.878Z
              version: 1479335124878
              is_deleted: false
              present_at_all_locations: true
              tax_data:
                name: Sales Tax
                calculation_phase: TAX_SUBTOTAL_PHASE
                inclusion_type: ADDITIVE
                percentage: "5.0"
                enabled: true
  /v2/catalog/batch-upsert:
    post:
      tags:
      - Catalog
      summary: BatchUpsertCatalogObjects
      description: |-
        Creates or updates up to 10,000 target objects based on the provided
        list of objects. The target objects are grouped into batches and each batch is
        inserted/updated in an all-or-nothing manner. If an object within a batch is
        malformed in some way, or violates a database constraint, the entire batch
        containing that item will be disregarded. However, other batches in the same
        request may still succeed. Each batch may contain up to 1,000 objects, and
        batches will be processed in order as long as the total object count for the
        request (items, variations, modifier lists, discounts, and taxes) is no more
        than 10,000.
      operationId: BatchUpsertCatalogObjects
      parameters: []
      requestBody:
        description: |-
          An object containing the fields to POST for the request.

          See the corresponding object definition for field details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchUpsertCatalogObjectsRequest'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchUpsertCatalogObjectsResponse'
      security:
      - oauth2:
        - ITEMS_WRITE
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/GO/repos/square/browse
      x-proto-location: /xp/connect-public-protos/protos/squareup/connect/v2/catalog/service.proto
      x-proto-sha: 7564f2195a5bc06364dc54c0b78bf8919a1b9f8d
      x-example-scenarios:
        scenarios:
        - name: Add a batch of objects to the catalog
          bodyParams:
            idempotency_key: 789ff020-f723-43a9-b4b5-43b5dc1fa3dc
            batches:
            - objects:
              - type: ITEM
                id: '#Tea'
                present_at_all_locations: true
                item_data:
                  name: Tea
                  description: Hot Leaf Juice
                  category_id: '#Beverages'
                  tax_ids:
                  - '#SalesTax'
                  variations:
                  - type: ITEM_VARIATION
                    id: '#Tea_Mug'
                    present_at_all_locations: true
                    item_variation_data:
                      item_id: '#Tea'
                      name: Mug
                      pricing_type: FIXED_PRICING
                      price_money:
                        amount: 150
                        currency: USD
              - type: ITEM
                id: '#Coffee'
                present_at_all_locations: true
                item_data:
                  name: Coffee
                  description: Hot Bean Juice
                  category_id: '#Beverages'
                  tax_ids:
                  - '#SalesTax'
                  variations:
                  - type: ITEM_VARIATION
                    id: '#Coffee_Regular'
                    present_at_all_locations: true
                    item_variation_data:
                      item_id: '#Coffee'
                      name: Regular
                      pricing_type: FIXED_PRICING
                      price_money:
                        amount: 250
                        currency: USD
                  - type: ITEM_VARIATION
                    id: '#Coffee_Large'
                    present_at_all_locations: true
                    item_variation_data:
                      item_id: '#Coffee'
                      name: Large
                      pricing_type: FIXED_PRICING
                      price_money:
                        amount: 350
                        currency: USD
              - type: CATEGORY
                id: '#Beverages'
                present_at_all_locations: true
                category_data:
                  name: Beverages
              - type: TAX
                id: '#SalesTax'
                present_at_all_locations: true
                tax_data:
                  name: Sales Tax
                  calculation_phase: TAX_SUBTOTAL_PHASE
                  inclusion_type: ADDITIVE
                  percentage: "5.0"
                  applies_to_custom_amounts: true
                  enabled: true
          response:
            objects:
            - type: ITEM
              id: ZSDZN34NAXDLC6D5ZQMNSOUM
              updated_at: 2017-05-10T18:48:39.798Z
              version: 1494442119798
              is_deleted: false
              present_at_all_locations: true
              item_data:
                name: Tea
                description: Hot Leaf Juice
                category_id: LYT72K3WGJFFCIMB63XARP3I
                tax_ids:
                - XHSHLHNWSI3HVI4BW5ZUZXI3
                variations:
                - type: ITEM_VARIATION
                  id: NAYHET5R52MIYCEF34ZMAHFM
                  updated_at: 2017-05-10T18:48:39.798Z
                  version: 1494442119798
                  is_deleted: false
                  present_at_all_locations: true
                  item_variation_data:
                    item_id: ZSDZN34NAXDLC6D5ZQMNSOUM
                    name: Mug
                    ordinal: 0
                    pricing_type: FIXED_PRICING
                    price_money:
                      amount: 150
                      currency: USD
            - type: ITEM
              id: PJMCEBHHUS3OKDB6PYUHLCPP
              updated_at: 2017-05-10T18:48:39.798Z
              version: 1494442119798
              is_deleted: false
              present_at_all_locations: true
              item_data:
                name: Coffee
                description: Hot Bean Juice
                category_id: LYT72K3WGJFFCIMB63XARP3I
                tax_ids:
                - XHSHLHNWSI3HVI4BW5ZUZXI3
                variations:
                - type: ITEM_VARIATION
                  id: OTYDX45SPG7LJQUVCBZI4INH
                  updated_at: 2017-05-10T18:48:39.798Z
                  version: 1494442119798
                  is_deleted: false
                  present_at_all_locations: true
                  item_variation_data:
                    item_id: PJMCEBHHUS3OKDB6PYUHLCPP
                    name: Regular
                    ordinal: 0
                    pricing_type: FIXED_PRICING
                    price_money:
                      amount: 250
                      currency: USD
                - type: ITEM_VARIATION
                  id: GZDA3JB37FYVOPI4AOEBOITI
                  updated_at: 2017-05-10T18:48:39.798Z
                  version: 1494442119798
                  is_deleted: false
                  present_at_all_locations: true
                  item_variation_data:
                    item_id: PJMCEBHHUS3OKDB6PYUHLCPP
                    name: Large
                    ordinal: 1
                    pricing_type: FIXED_PRICING
                    price_money:
                      amount: 350
                      currency: USD
            - type: CATEGORY
              id: LYT72K3WGJFFCIMB63XARP3I
              updated_at: 2017-05-10T18:48:39.798Z
              version: 1494442119798
              is_deleted: false
              present_at_all_locations: true
              category_data:
                name: Beverages
            - type: TAX
              id: XHSHLHNWSI3HVI4BW5ZUZXI3
              updated_at: 2017-05-10T18:48:39.798Z
              version: 1494442119798
              is_deleted: false
              present_at_all_locations: true
              tax_data:
                name: Sales Tax
                calculation_phase: TAX_SUBTOTAL_PHASE
                inclusion_type: ADDITIVE
                percentage: "5.0"
                applies_to_custom_amounts: true
                enabled: true
            id_mappings:
            - client_object_id: '#Tea'
              object_id: ZSDZN34NAXDLC6D5ZQMNSOUM
            - client_object_id: '#Coffee'
              object_id: PJMCEBHHUS3OKDB6PYUHLCPP
            - client_object_id: '#Beverages'
              object_id: LYT72K3WGJFFCIMB63XARP3I
            - client_object_id: '#SalesTax'
              object_id: XHSHLHNWSI3HVI4BW5ZUZXI3
            - client_object_id: '#Tea_Mug'
              object_id: NAYHET5R52MIYCEF34ZMAHFM
            - client_object_id: '#Coffee_Regular'
              object_id: OTYDX45SPG7LJQUVCBZI4INH
            - client_object_id: '#Coffee_Large'
              object_id: GZDA3JB37FYVOPI4AOEBOITI
  /v2/catalog/images:
    post:
      tags:
      - Catalog
      summary: CreateCatalogImage
      description: |-
        Uploads an image file to be represented by a [CatalogImage](entity:CatalogImage) object linked to an existing
        [CatalogObject](entity:CatalogObject) instance. A call to this endpoint can upload an image, link an image to
        a catalog object, or do both.

        This `CreateCatalogImage` endpoint accepts HTTP multipart/form-data requests with a JSON part and an image file part in
        JPEG, PJPEG, PNG, or GIF format. The maximum file size is 15MB.
      externalDocs:
        description: Upload and Attach an Image
        url: https://developer.squareup.com/docs/catalog-api/cookbook/create-catalog-image
      operationId: CreateCatalogImage
      parameters: []
      requestBody:
        description: |-
          An object containing the fields to POST for the request.

          See the corresponding object definition for field details.
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/body'
            encoding:
              request:
                contentType: application/json; charset=utf-8
                style: form
              image_file:
                contentType: image/jpeg
                style: form
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCatalogImageResponse'
      security:
      - oauth2:
        - ITEMS_WRITE
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/GO/repos/square/browse
      x-proto-location: /xp/connect-public-protos/protos/squareup/connect/v2/catalog/service.proto
      x-proto-sha: 7564f2195a5bc06364dc54c0b78bf8919a1b9f8d
      x-example-scenarios:
        scenarios:
        - name: Upload an image for a catalog object
          bodyParams:
            idempotency_key: 528dea59-7bfb-43c1-bd48-4a6bba7dd61f86
            object_id: ND6EA5AAJEO5WL3JNNIAQA32
            image:
              id: '#TEMP_ID'
              type: IMAGE
              image_data:
                caption: A picture of a cup of coffee
          response:
            image:
              type: IMAGE
              id: XVGTTXX6VIFDJVH6YGDJCEK4
              updated_at: 2020-08-12T01:49:50.295Z
              version: 1597196990295
              is_deleted: false
              present_at_all_locations: true
              image_data:
                name: ""
                url: https://square-catalog-sandbox.s3.amazonaws.com/files/febae45897bdab1234dc3db23a7c0e66ddea6001/original.png
                caption: A picture of a cup of coffee
  /v2/catalog/info:
    get:
      tags:
      - Catalog
      summary: CatalogInfo
      description: |-
        Retrieves information about the Square Catalog API, such as batch size
        limits that can be used by the `BatchUpsertCatalogObjects` endpoint.
      operationId: CatalogInfo
      parameters: []
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CatalogInfoResponse'
      security:
      - oauth2:
        - ITEMS_READ
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/GO/repos/square/browse
      x-proto-location: /xp/connect-public-protos/protos/squareup/connect/v2/catalog/service.proto
      x-proto-sha: 7564f2195a5bc06364dc54c0b78bf8919a1b9f8d
      x-example-scenarios:
        scenarios:
        - name: Get catalog API information
          response:
            limits:
              batch_upsert_max_objects_per_batch: 1000
              batch_upsert_max_total_objects: 10000
              batch_retrieve_max_object_ids: 1000
              search_max_page_limit: 1000
              batch_delete_max_object_ids: 200
              update_item_taxes_max_item_ids: 1000
              update_item_taxes_max_taxes_to_enable: 1000
              update_item_taxes_max_taxes_to_disable: 1000
              update_item_modifier_lists_max_item_ids: 1000
              update_item_modifier_lists_max_modifier_lists_to_enable: 1000
              update_item_modifier_lists_max_modifier_lists_to_disable: 1000
  /v2/catalog/list:
    get:
      tags:
      - Catalog
      summary: ListCatalog
      description: |-
        Returns a list of [CatalogObject](entity:CatalogObject)s that includes
        all objects of a set of desired types (for example, all [CatalogItem](entity:CatalogItem)
        and [CatalogTax](entity:CatalogTax) objects) in the catalog. The `types` parameter
        is specified as a comma-separated list of valid [CatalogObject](entity:CatalogObject) types:
        `ITEM`, `ITEM_VARIATION`, `MODIFIER`, `MODIFIER_LIST`, `CATEGORY`, `DISCOUNT`, `TAX`, `IMAGE`.

        __Important:__ ListCatalog does not return deleted catalog items. To retrieve
        deleted catalog items, use [SearchCatalogObjects](api-endpoint:Catalog-SearchCatalogObjects)
        and set the `include_deleted_objects` attribute value to `true`.
      operationId: ListCatalog
      parameters:
      - name: cursor
        in: query
        description: |-
          The pagination cursor returned in the previous response. Leave unset for an initial request.
          The page size is currently set to be 100.
          See [Pagination](https://developer.squareup.com/docs/basics/api101/pagination) for more information.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: types
        in: query
        description: |-
          An optional case-insensitive, comma-separated list of object types to retrieve.

          The valid values are defined in the [CatalogObjectType](entity:CatalogObjectType) enum, including
          `ITEM`, `ITEM_VARIATION`, `CATEGORY`, `DISCOUNT`, `TAX`,
          `MODIFIER`, `MODIFIER_LIST`, or `IMAGE`.

          If this is unspecified, the operation returns objects of all the types at the version of the Square API used to make the request.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: catalog_version
        in: query
        description: "The specific version of the catalog objects to be included in\
          \ the response. \nThis allows you to retrieve historical\nversions of objects.\
          \ The specified version value is matched against\nthe [CatalogObject](entity:CatalogObject)s'\
          \ `version` attribute."
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
        x-release-status: BETA
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCatalogResponse'
      security:
      - oauth2:
        - ITEMS_READ
      x-release-status: PUBLIC
      x-proto-repo: https://git.sqcorp.co/projects/GO/repos/square/browse
      x-proto-location: /xp/connect-public-protos/protos/squareup/connect/v2/catalog/service.proto
      x-proto-sha: 7564f2195a5bc06364dc54c0b78bf8919a1b9f8d
      x-example-scenarios:
        scenarios:
        - name: List catalog objects of a certain type
          requestParams:
[...]
